.an-flex{
    display: flex;
    display: -webkit-flex;
}
body{
    background-color: #eeeeee;
}
.topApp{
    width: 100%;
    background-color: white;
    padding: 10px 0;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px #eeeeee solid;
}
.l_logo{
    width: 15%;
}
.l_logo img{
    width: 100%;
}
.c_font h4{
    font-size: 0.32rem;
    color: #333333;
}
.c_font  p{
    font-size: 0.28rem;
    color: #777777;
}
.r_btn{
    width: 25%;
}
.r_btn img{
    width: 100%;
}
.imgDetails{
    width: 100%;
    background-color: white;
    padding: 20px 0;
    position: relative;
    text-align: center;
}
.imgDetails img.imgd{
    width: 40%;
}
.imgDetails img.btn{
    width: 15%;
    position: absolute;
    right: 10px;
    bottom: 20px;
}
.courseInfo{
    background-color: white;
    padding:0 5%;
}
.courseInfo h2{
    font-size: 0.46rem;
    color: #333333;
}
.cI-box{
    background-color: #f2f2f2;
    border: 1px #afafaf dashed;
    padding: 6px;
    justify-content: space-between;
    align-items: center;
    margin: 0.36rem 0;
}
.cI-left{
    font-size: 0.3rem;
    color: #4d6fcc;
    font-weight: bold;
}
.cI-left span{
    font-size: 0.24rem;
    color: #888888;
    font-weight: normal;
}
.cI-right{
   color: #f74b4b;
    font-size: 0.46rem;
    font-weight: bold;
}
.cI-boFont{
    background-color: white;
}
.cI-boFont ul li{
    margin-bottom: 10px;
}
.left_title{
    width: 1.48rem;
    color: #888888;
    font-size: 0.28rem;
    text-align:justify;
    /*text-justify:inter-ideograph;*/
}
.left_title>span{
    display: inline-block; /* Opera */; padding-left: 100%;
}
.right_info{
    width: 5.18rem;
    color: #333333;
    font-size: 0.28rem;
    margin-left: 5%;
    flex-wrap: wrap;
}
.right_info span{
    display: block;
    font-size: 0.28rem;
    color: #333333;
    border: 1px #a0a0a0 solid;
    border-radius: 0.09rem;
    padding: 0.01rem 0.1rem;
    margin-right: 0.2rem;
    margin-bottom: 0.22rem;
}
.right_info span:nth-child(even){
    margin-right: 0;
}
.right_info span.on{
    background-color: #4d6fcc;
    color: white;
    border: 1px #4d6fcc solid;
}
.slideContent{
    width: 100%;
    background-color: white;
    margin-top: 0.15rem;
    padding-bottom: 0.97rem;
}
.wrap{margin:0 auto;}
.tabs{width: 100%;text-align: center;border-bottom: 1px #c9c9c9 solid;display: flex;justify-content: space-around}
/*.tabs:after{content: '';height: 0;display: block;overflow: hidden;clear: both;}*/
.tabs .part{display:block;float:left;width:30%;color:#fff;text-align:center;}
.tabs a{display:block;color:#444;text-align:center;font-size:0.28rem;text-decoration:none;padding: 0.2rem 0;}
.tabs span.active a{color:#4d6fcc;border-bottom: 2px #4d6fcc solid;}
.swiper-container{width:100%;border-top:0;}
.swiper-slide{width:100%;background:none;}
.content-slide{font-size: 0.28rem;padding:0 0.3rem;}

.tearch_content{
    display: flex;
    align-items: center;
    padding:.4rem  0 .38rem 0;
}
.tearch_content img{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    margin-right: .36rem
}
.tearch_info>p:first-child{
    font-size: 0.36rem;
    color: black;
}
.tearch_info>p:nth-child(2){
    font-size: 0.32rem;
   
}
.tearch_content+div{
    font-size: 0.3rem;
    color: #888888;

}
.material{
    padding-top:0.42rem;
    font-size: .3rem
}
.material-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:0.01rem solid #e5e5e5;
    font-size: .34rem;
    padding:.34rem 0
}
.material-content>div:first-child{
    display: flex;
    align-items: center;
    

}
.material-content>div:first-child img{
    width: .48rem;
    height: .61rem;
    margin-right: .2rem
}
.material-content>div:nth-child(2){
    width: 1.1rem;
    color: white;
    background: #4d6fcc;
    text-align: center;
    height: .47rem;
    line-height: .47rem;
    border-radius: 0.05rem;
    font-size: .3rem;
}
.user-comment-item{
    border-bottom: 0.01rem solid #f6f6f6;
    padding:0.4rem 0 .23rem 0;

}
.user-comment{
    display: flex;
    align-items: center;
    justify-content: space-between
}

.user-comment img{
    width: .61rem;
    height: .61rem;
    margin-right: .12rem
}
.user-comment>div:first-child{
    display: flex;
    align-items: center
}
.user-comment>div:first-child p{
    font-size: .32rem;
    /* font-weight: 600; */
    padding:.1rem 0 
}
.user-comment+p{
    margin-top:0.09rem;
    margin-left: .76rem;
    
}

.footer{
    padding-left: .22rem;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: .98rem;
    border-top:0.01rem solid #BFBFBF ;
    box-sizing: border-box;
    z-index: 9;
    background: white
}
.footer>div:first-child{
    font-size: .22rem;
    color: #ADADAD
}
.consult{
    display: flex;
    align-items: center;
}
.consult div:first-of-type{
    color: #888888;
    margin:0 .22rem 0 .13rem
}

.consult img{
    width: .44rem;
    height: .42rem;
}  
.consult div:last-of-type{
    background: #5A5EE4;
    color: white;
    height:.98rem;
    width: 3.32rem;
    text-align: center;
    line-height: .98rem
}
.price{
    color: #F01F4B
}
.price>span:last-child{
    font-size: .38rem
}

