/*头部css*/
/*优化*/
.greyNav {
    width: 100%;
    min-width: 1200px;
    height: auto;
    line-height: 42px;
    background: #EEEEEE;
}

.inGrey {
    width: 1200px;
    margin: 0 auto;
}

.leftNav {
    float: left;
}

.leftNav ul li {
    float: left;
    font-size: 14px;
}

.leftNav ul li:first-child {
    /* margin-right: 13px; */
}
.leftNav ul li:first-child h1{
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0px;
    line-height: 41px;
}
.leftNav ul li img {
    vertical-align: middle;
}

.leftNav ul li a {
    height: 100%;
    display: block;
    color: #666666;
    padding: 0 10px;
    text-decoration: none;
}

.leftNav ul li a.on {
    background: #ffffff;
    color: #5A5EE4;
}

.leftNav ul li.xian {
    color: #5A5EE4;
    margin-left: 20px;
    margin-right: 16px;
}

.leftNav ul li.phone {
    color: #666666;
    margin-right: 8px;
    margin-left: 20px;
}

.leftNav ul li:last-child a {
    width: 67px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    display: block;
    color: #5A5EE4;
    font-size: 12px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0 !important;
    background: #FFFFFF;
    /* background: -moz-linear-gradient(#f2f2f2, #f2f2f2, #d3d3d3, #e2e2e2);
    background: -webkit-linear-gradient(#f2f2f2, #f2f2f2, #d3d3d3, #e2e2e2);
    background: -ms-linear-gradient(#f2f2f2, #f2f2f2, #d3d3d3, #e2e2e2);
    background: -o-linear-gradient(#f2f2f2, #f2f2f2, #d3d3d3, #e2e2e2); */
}

.rightLogin {
    /*display: none;*/
    float: right;
    position: relative;
    height: 43px;
}

.loginBefore {
    /*display: none;*/
}

.loginBefore input {
    width: 40px;
    height: 20px;
    line-height: 20px;
    border: 1px #666666 solid;
    border-radius: 3px;
    color: #666666;
    font-size: 12px;
    background: none;
}

.loginBefore input:hover {
    cursor: pointer;
}

.loginBefore input:first-child {
    margin-right: 8px;
}

.loginAfter {
    /*display: none;*/
    position: relative;
    height: 100%;
    /* background: #04a4ea; */
    padding: 0 8px 0 15px;
    color: white;
}

.whiteDiv {
    width: 24px;
    height: 24px;
    line-height: 24px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    background: #ffffff;
    margin-top: 8px;
    cursor: pointer;
}

.whiteDiv img {
    width: 100%;
}

.leftFont {
    float: left;
    color: #ffffff;
    height: 42px;
    overflow: hidden;
    font-size: 12px;
    margin-left: 8px;
}

.leftFont span.userName_n {
    display: inline-block;
    vertical-align: bottom;
    max-width: 64px;
    height: 42px;
    overflow: hidden;
}

.clearB {
    clear: both
}

.rightLogin:hover .xiala-con {
    display: block;
}

.xiala-con {
    width:267px;
    height:216px;
    background:url("/cn/images/new_gre/personal/center_bj.png") no-repeat;
    background-size: 100% 100%;
    border-radius:5px;
    position: absolute;
    left: -207px;
    top: 42px;
    z-index: 1100;
    padding-left: 30px;
    padding-right: 26px;
    padding-top: 24px;
    box-sizing: border-box;
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    display: none;
}
.xiala-con ul li {
    width:99px;
    height:27px;
    float: left;
    /* border-bottom: 1px #c1c1c1 solid; */
    position: relative;
    text-align: center;
}
.xiala-con ul li:nth-of-type(2){
    margin-bottom: 6px;
}
.xiala-con ul li:nth-of-type(3){
    margin-bottom: 6px;
}
.xiala-con ul li:first-child{
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}
.new-gre-user-img{
    width: 49px;
    height: 49px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.new-gre-user-mes{
    float: left;
    margin-left: 13px;
    line-height: 15px;
}
.new-gre-user-mes .userName_n{
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    margin-top: 9px;
}
.new-gre-user-mes p:last-child{
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(90,94,228,1);
    margin-top: 3px;
}
.xiala-con ul li:last-child{
    width: 100%;
    text-align: left;
    margin-top: 14px;
}
.xiala-con ul li:nth-child(2) a{
    background: url("/cn/images/new_gre/personal/center_people.png") no-repeat;
    background-position: center left;
    margin-bottom: 5px;
    cursor: pointer;
}
.xiala-con ul li:nth-child(3) a{
    margin-left: 5px;
    background: url("/cn/images/new_gre/personal/center_buy.png") no-repeat;
    background-position: center left;
    margin-bottom: 5px;
    cursor: pointer;
}
.xiala-con ul li:nth-child(4) a{
    background: url("/cn/images/new_gre/personal/center_done.png") no-repeat;
    background-position: center left;
    cursor: pointer;
}
.xiala-con ul li:nth-child(5) a{
    margin-left: 5px;
    background: url("/cn/images/new_gre/personal/center_test.png") no-repeat;
    background-position: center left;
    cursor: pointer;
}
.xiala-con ul li a {
    width: 100%;
    display: block;
    line-height: 27px;
    font-size: 14px;
    /* padding: 0 0 0 10px; */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    color:rgba(51,51,51,1);
}

.xiala-con ul li:last-child a {
    color: #888888;
    cursor: pointer;
}

.xiala-con ul li:hover{
    background: #EEEEEE;
    /* color: #f59f44; */
}
.xiala-con ul li:first-child:hover{
    background: none;
}
.xiala-con ul li:last-child:hover{
    background: none;
}
.whiteNav {
    width: 100%;
    background: white;
    padding-top: 22px;
    padding-bottom: 20px;
}

.navBox {
    width: 1178px;
    margin: 0 auto;
}

.logoBox {
    float: left;
}

.rightNav {
    float: left;
}

.rightNav ul li {
    float: left;
    padding: 0 15px;
    font-size: 16px;
}

.rightNav ul li:first-child {
    margin-left: 10px;
}

.rightNav ul li a {
    width: 100%;
    height: 100%;
    display: block;
    color: #727272;
}

.rightNav ul li.on a {
    color: #04a4ea;
}

.nav-de {
    margin-left: 60px;
    color: #ffffff;
    font-size: 14px;
}

/*---------------*/


/*app下载*/

.appDownload {
    float: right;
    height: 100%;
    /* padding: 0 30px; */
    position: relative;
    margin-right: 10px;
}

.appDownload:hover {
    cursor: pointer;
    /* background: #f3f7f7; */
}

.appDownload:hover span.tit_t {
    color: #5A5EE4;
}

.appDownload:hover span.tit_t b {
    /* border-top: 5px #000000 solid; */
}

.appDownload span.tit_t {
    color: #666666;
    font-size: 12px;
}

.appDownload span.tit_t b {
    width:27px;
    text-align: center;
    height:13px;
    line-height: 13px;
    padding: 0px 2px;
    margin-right: 4px;
    display: inline-block;
    color: #EEEEEE;
    background: #E36D6D;
    font-weight: normal;
    border-radius: 3px;
}

.appDownload:hover .pull_down {
    display: block;
}

.pull_down {
    width: 140px;
    position: absolute;
    left: 0;
    top: 42px;
    z-index: 1100;
    background: #f3f7f7;
    display: none;
}
.pull_down ul li a{
    text-decoration: none;
    color: #444444;
}
.pull_down ul li {
    position: relative;
}

.pull_down ul li:hover .code_box {
    display: block;
}

.pull_down ul li:hover {
    background: #3e3e3e;
    color: white;
}

.pull_down ul li:hover span {
    color: white;
}

.first_layer {
    font-size: 12px;
}

.first_layer img {
    width: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

.code_box{
    position: absolute;
    left: -100px;
    top: 0;
    display: none;
}
.code_box img{
    width: 100px;
}

/*尾部css*/
#footer_nav{
    width: 100%;
    min-width: 1200px;
    height: 37px;
    /* background: #333569; */
    background: #191A3A;
}
#footer_nav div{
    width: 100%;
    height: 100%;
    color: #ffffff;
    line-height: 37px;
    text-align: center;
    font-size: 14px;
}
#footer_nav div span a{
    color: white;
    text-decoration: underline;
}
#footer_nav div span a:hover{
    color: orange;

}
#footer_nav div img{
    position: relative;
    top: 3px;
}
.gre-foot {
    width: 100%;
    min-width: 1200px;
    /* background-color: #494b9a; */
    background: #202145;
    padding: 32px 0 18px 0;
}

.in-gre-f {
    width: 1052px;
    margin: 0 auto;
}

.in-gre-left {
    width: 576px;
    border-right: 1px #9091c1 dotted;
    float: left;
}

.in-gre-left ul {
    width: 124px;
    height: 171px;
    float: left;
    text-align: center;
    margin: 0 65px 0 0;
    background-color: rgba(62, 64, 147, 0.66);
}

.in-gre-left ul:last-child {
    margin-right: 0;
}

.in-gre-left ul li h4 {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
}

.in-gre-left ul li a {
    position: relative;
    font-size: 14px;
    display: block;
    margin-bottom: 7px;
    color: #cccccc;
}
.in-gre-left ul li a .fth_img{
    display: none;
    position: absolute;
    right: -75px;
    top: -40px;
    width: 90px;
    height: 90px;
}
.fth_name{
    vertical-align: middle;
}
.fth_img img{
    width: 100%;
    height: 100%;
}

.in-gre-left ul li a:hover {
    color: #ffffff;
}
.in-gre-left ul li a:hover .fth_img{
    display: block;
}

.in-gre-left ul li .contact_icon {
    width: 22px;
    height: 22px;
    overflow: hidden;
    margin-right: 4px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.in-gre-left ul li .contact_icon img {
    width: 100%;
    height: 100%;
}

.in-gre-right {
    width: 435px;
    margin-left: 36px;
    float: right;
    text-align: center;
    margin-top: 30px;
}

.in-gre-right p {
    font-size: 20px;
    color: white;
    margin-top: 10px;
    font-weight: bold;
}

.gre-font-small {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: white;
}
.gre-font-small .mz_sm{
    color: white;
}
.gre-font-small .mz_sm:hover{
    color: #ff5460;
}
.kfz_icon {
    width: 38px;
    top: -14px;
    right: 5px;
}


.referBox{
    width: 60px;
    height: 390px;
    background: #ffffff;
    border-radius: 40px;
    position: fixed;
    right: 5px;
    top: 50%;
    z-index: 55;
    margin-top: -200px;
    -webkit-box-shadow:0 0 10px #c3c3c3;
    -moz-box-shadow:0 0 10px #c3c3c3;
    box-shadow:0 0 10px #c3c3c3;
    display: none;
}
.refer_close{
    width: 15px;
    height: 15px;
    background: url("../images/refer_close.png") no-repeat;
    position: absolute;
    right: -5px;
    top: -15px;
    z-index: 999;
}
.refer_close:hover{
    cursor: pointer;
}
.refer_top{
    width: 60px;
    height: 62px;
    margin-top: -10px;
    background: url("../images/home_ask.png") no-repeat;
    background-size: 100% 100%;
}
.refer_small:hover{
    cursor: pointer;
}
.refer_small{
    width: 60px;
    height: 62px;
    background: url("../images/home_ask.png") no-repeat;
    background-size: 100% 100%;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 99;
    margin-top: -32px;
    /*display: none;*/
}
.refer_con{
    width: 100%;
}
.refer_con ul li a{
    width: 100%;
    display: block;
    text-align: center;
    padding: 8px 0 5px 0;
    color: #878787;
    font-size: 12px;
    border-bottom: 1px #e5e5e5 solid;
    position: relative;
}
.refer_con ul li:last-child a{
    border-bottom: none;
}
.refer_con ul li a p{
    margin-top: 5px;
}
.refer_con ul li:hover a{
    color: #5fabf8;
}
.refer_con ul li .comSize{
    width: 25px;
    height: 25px;
    margin: 0 auto;
}
.refer_con ul li:hover .diffBG01{
    background: url("../images/refer_icon001.png") no-repeat;
}
.refer_con ul li:hover .diffBG02{
    background: url("../images/refer_icon002.png") no-repeat;
}
.refer_con ul li:hover .diffBG03{
    background: url("../images/refer_icon003.png") no-repeat;
}
.refer_con ul li:hover .diffBG04{
    background: url("../images/refer_icon004.png") no-repeat;
}
.refer_con ul li:hover .diffBG05{
    background: url("../images/refer_icon005.png") no-repeat;
}
.diffBG01{
    background: url("../images/refer_icon01.png") no-repeat;
}
.diffBG02{
    background: url("../images/refer_icon02.png") no-repeat;
}
.diffBG03{
    background: url("../images/refer_icon03.png") no-repeat;
}
.diffBG04{
    background: url("../images/refer_icon04.png") no-repeat;
}
.diffBG05{
    background: url("../images/refer_icon05.png") no-repeat;
}
.diffBG06{
    width: 35px;
    height: 18px;
    margin: 0 auto;
    /*background: url("../images/refer_icon06.png") no-repeat;*/
}
.refer_con ul li:nth-child(2):hover .tanc_mask01{
    display: block;
    -webkit-animation-name:fadeIn;
    -webkit-animation-duration:0.8s;
    -webkit-animation-timing-function:ease-out;
    -webkit-animation-iteration-count: 1;
}
.refer_con ul li:nth-child(4):hover .tanc_mask02{
    display: block;
    -webkit-animation-name:fadeInLeft;
    -webkit-animation-duration:0.3s;
    -webkit-animation-timing-function:ease-out;
    -webkit-animation-iteration-count: 1;
}
.refer_con ul li:last-child:hover .diffBG06{
    -webkit-animation-name:bounce;
    -webkit-animation-duration:0.8s;
    -webkit-animation-timing-function:ease-out;
    -webkit-animation-iteration-count: 1;
}
.tanc_mask01{
    width: 113px;
    height: 107px;
    background: url("../images/bg-11.png") no-repeat;
    position: absolute;
    left: -113px;
    top: -20px;
    display: none;
    padding: 10px 13px 10px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.tanc_mask01 img{
    width: 100%;
}
.tanc_mask02{
    width: 212px;
    height: 45px;
    line-height: 45px;
    background: url("../images/bg-12.png") no-repeat;
    position: absolute;
    left: -212px;
    top: 10px;
    color: #ffffff;
    font-size: 22px;
    display: none;
}

/*
!*新年版*!

.refer_small{
    right: 20px;
    background: url("../images/newyear_refer/other_pic_2.png");
    width: 130px;
    height: 140px;
}
.refer_small img{
     position: absolute;
     bottom: 40px;
     left: 15px;
 }
.referBox{
    right: 50px;
    padding-bottom: 0;
    border-radius: 5px;
    box-shadow: none;
    background: none;
}
.refer_top{
    background: url("../images/newyear_refer/other_pic_2.png");
    width: 130px;
    height: 100px;
    position: relative;
    left: -35px;
}
.refer_con{
    background: url("../images/newyear_refer/lx_bj.png");
    background-size: 100% 100%;
    box-shadow: 0 0 10px #c3c3c3;
    position: relative;
    top: -25px;

}
.refer_con ul li:hover{
    background: #ba1c1c
;
}
.refer_con ul li a{
    color: #fff;
}
.diffBG01{
    background: url("../images/newyear_refer/tu-1/refer_icon01.png") no-repeat;
}
.diffBG02{
    background: url("../images/newyear_refer/tu-1/refer_icon02.png") no-repeat;
}
.diffBG03{
    background: url("../images/newyear_refer/tu-1/refer_icon03.png") no-repeat;
}
.diffBG04{
    background: url("../images/newyear_refer/tu-1/refer_icon04.png") no-repeat;
}
.diffBG05{
    background: url("../images/newyear_refer/tu-1/refer_icon05.png") no-repeat;
}
.tanc_mask01,.tanc_mask02{
    background:#ba1c1c ;
}
*/
