.evaluation-top{
    width: 100%;
    height: 354px;
    min-width:1200px;
    background: url("../images/evaluation/test-bg.png") no-repeat;
    background-size: cover;
}
.eva-in{
    width: 1116px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.eva-left{
    color: white;
    width: 666px;
}
.eva-left h2{
    font-size: 65px;
    color: white;
    font-weight: normal;
}
.eva-left p{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 27px;
    font-size: 28px;
    line-height: 45px;
    padding: 20px 0 20px 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.eva-right{
   margin-left: 35px;
}
.evaluation-center{
    width: 908px;
    margin: 80px auto;
}
.evaluation-center ul{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}
.evaluation-center ul li{
    width: 366px;
    height: 323px;
    box-shadow: 0 0 50px #d2d5d6;
    border-radius: 3px;
    text-align: center;
}
.evaluation-center ul li h4{
    text-align: center;
    font-size: 20px;
    color: #7374e4;
    margin: 33px 0 19px 0;
}
.evaluation-center ul li span{
    font-size: 18px;
    color: #888888;
    line-height: 30px;
}
.evaluation-center ul li div.grey_div{
    width: 178px;
    margin:  0 auto;
    background-color: #eeeeee;
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    line-height: 30px;
    padding: 10px 0;
}
.evaluation-center ul li a{
    width: 162px;
    height: 39px;
    line-height: 39px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #7374e4;
    color: white;
    font-size: 20px;
    margin-top: 22px;
}
.evaluation-center ul li:hover{
    box-shadow: 0 0 50px #b6b6cd;
}
.bot-bolang{
    width: 100%;
    height: 90px;
    overflow: hidden;
    min-width: 1200px;
    margin-top: 86px;
    position: relative;
}
.bl-bg01{
    background: url("../images/evaluation/test-bot01.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.bl-bg02{
    background: url("../images/evaluation/test-bot02.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.bl-bg03{
    background: url("../images/evaluation/test-bot03.png") no-repeat center;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.swing01{
    animation:anim_wave 5s linear infinite alternate;
}
.swing02{
    animation:anim_waveLr 4s linear infinite alternate;
}
.swing03{
    animation:anim_waveLr 10s linear infinite alternate;
}
@keyframes anim_wave {
    0% {
        transform: translateY(0) translateZ(0) scaleY(1)
    }
    25%{
        transform: translateY(10%) translateZ(0) scaleY(0.9)
    }
    50% {
        transform: translateY(20%) translateZ(0) scaleY(0.8)
    }
    75%{
        transform: translateY(10%) translateZ(0) scaleY(0.9)
    }
    100% {
        transform: translateY(0) translateZ(0) scaleY(1)
    }
}
@keyframes anim_waveLr {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    25%{
        transform: translateX(10%) translateZ(0) scaleY(0.9)
    }
    50% {
        transform: translateX(20%) translateZ(0) scaleY(0.8)
    }
    75%{
        transform: translateX(10%) translateZ(0) scaleY(0.9)
    }
    100% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
}