@font-face {
    font-family: 'times_new';
    src: url('../font_face/times_3-webfont.woff2') format('woff2'),
    url('../font_face/times_3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body,html{
    height: 100%;
    background: #989898;
}
#gre_details {
    position: absolute;
    height: 100%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    max-height: 768px;
    /*background: #989898;*/
}

.bg_f {
    background: #ffffff;
}

.w1050 {
    width: 1050px;
    margin: auto;
}

.topic_name {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    max-width: 610px;
    padding-top: 7px;
}

.toolbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 134px;
    padding: 10px;
    z-index: 1;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #bed6e4;
}

.tool_name {
    color: #333333;
    font-size: 16px;
    display: block;
    font-weight: bold;
    font-family: Tahoma;
}
.tool_name.return{
    line-height: 42px;
}

.tool_list .tool_div:last-child {
    margin-right: 2px;
}

.tool_div {
    background: #7ab5cc;
    width: 80px;
    height: 42px;
    float: left;
    margin-right: 7px;
    padding-top: 3px;
    border: 2px solid;
    cursor: pointer;
    border-left-color: #9dc8d9;
    border-top-color: #c9e1ea;
    border-right-color: #6291a3;
    border-bottom-color: #6291a3;
}

.tool_div:hover {
    background: #a8bbc2;
    border-color: #98a9b0;
}
/*.tool_div.nextQuestion:hover{*/
    /*cursor: not-allowed;*/
/*}*/

.tool_div:hover .tool_name {
    color: #888888;
}

.cur_tit {
    line-height: 29px;
    width: 590px;
    text-align: center;
    color: #333333;
    font-size: 22px;
    font-family: Tahoma;
}

.test_time {
    color: #333333;
    font-size: 20px;
    height: 29px;
    padding-left: 15px;
    line-height: 29px;
    font-weight: bold;
    font-family: Tahoma;
}

.hide_time {
    background: #7ab5cc;
    width: 97px;
    height: 25px;
    line-height: 25px;
    border: 2px solid;
    cursor: pointer;
    border-left-color: #9dc8d9;
    border-top-color: #c9e1ea;
    border-right-color: #6291a3;
    border-bottom-color: #6291a3;
}

.hide_time span {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    font-family: Tahoma;
}

.hide_time:hover {
    background: #a8bbc2;
    border-color: #98a9b0;
}

.hide_time:hover span {
    color: #888888;
}

.tool_handle {
    /*margin-bottom: 15px;*/
}

.topic_content {
    position: absolute;
    left: 0;
    width: 100%;
    /*top: 134px;*/
    bottom: 0;
    height: 100%;
    overflow: hidden;
    padding-top: 134px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*min-height: 630px;*/
}
.process-bot-tips {
    /*width: 100%;*/
    text-align: center;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*z-index: 1;*/
    /*background: #ffffff;*/
}
.process-bot-tips .hint{
    padding: 4px 36px;
    display: inline-block;
    background: #D3D3D3;
    font-family: 'times_new';
    font-size: 18px;
}

.hint {
    color: #333333;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-family: 'times_new';
}

.dx_wrap {
    width: 760px;
    margin: auto;
}

.dx_topic {
    font-family: 'times_new';
    color: #333333;
    font-size: 18px;
    line-height: 24px;
    padding: 20px 0 40px;
}
.dx_topic p,.dx_topic span:not(.check_box){
     font-family: 'times_new'!important;
     color: #333333!important;
     font-size: 18px!important;
    background: none!important;
 }

.form_check {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    margin-bottom: 40px;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    font-family: 'times_new';
}

.form_check .input_check {
    position: absolute;
    width: 16px;
    height: 16px;
    visibility: hidden;
}

.form_check .label_row {
    position: relative;
    padding: 5px 0;
    display: block;
    cursor: pointer;
}
.form_check .label_row:hover span.check_box{
    background-position: -31px -80px;
}

.form_check .input_check + span.check_box {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 11px;
    background: url('../images/gre_De/gre-form.gif') -57px -60px no-repeat;
}

.form_check .input_check:checked + span.check_box {
    background-position: -5px -100px;
}
.form_radio {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    margin-bottom: 60px;
    font-size: 18px;
    color: #333333;
    line-height: 24px;
    font-family: 'times_new';
}

.form_radio .input_check {
    position: absolute;
    width: 26px;
    height: 16px;
    visibility: hidden;
}

.form_radio .label_row {
    position: relative;
    padding: 5px 0;
    display: block;
    cursor: pointer;
}
.form_radio .label_row:hover span.check_box{
    background-position: -104px -20px;
}

.form_radio .input_check + span.check_box {
    display: inline-block;
    width: 26px;
    height: 16px;
    margin-right: 11px;
    background: url('/cn/images/gre_De/gre-form.gif') -130px 0 no-repeat;
}

.form_radio .input_check:checked + span.check_box {
    background-position: -78px -40px;
}
.form_radio span:not(.check_box){
    font-size: 18px!important;
    font-family: "times_new"!important;
}
.tk_int{
    width: 235px;
    height: 33px;
    padding: 0 5px;
    border: 1px solid #555555;
    font-size: 18px;
    font-family: 'times_new';
    color: #555555;
}
#tk_model{
    padding-bottom: 220px;
}
.read_tit{
    /*padding: 20px 145px;*/
    /*border-bottom: 1px solid #8b8b8b;*/
}
.read_tit .dx_topic{
    width: 760px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #D3D3D3;
    margin: 20px auto;
    padding: 10px 20px;
    line-height: 24px;
    text-align: left;
}
.dk_select_wrap{
    padding-bottom: 75px;
}
.dk_select_wrap.double_set .dk_select{
    margin-right: 84px;
}
.dk_select_wrap .dk_select:last-child{
    margin-right: 0;
}
.dk_select_wrap .dk_select:first-child{
    margin-left: 0;
}
.dk_select{
    width: 248px;
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
    margin-left: -6px;
    text-align: center;
    border: 1px solid #555555;
}
.dk_select li{
    height: 30px;
    cursor: pointer;
    font-size: 18px;
    overflow-y: auto;
    font-family: 'times_new';
    line-height: 30px;
    border-bottom: 1px solid #555555;
}
.dk_select li:last-child{
    border-bottom: transparent;
}
.dk_select li:hover{
    background: #555555;
    color: #ffffff;
}
.dk_select li.selected{
    color: #ffffff;
    background: #555555;
}
.subMain{
    height: 100%;
    overflow: auto;
}
/*阅读*/
.read_left,.read_right{
    width: 524px;
    overflow: auto;
    height: 100%;
    position: relative;
    border-right: 1px solid #8b8b8b;
}
.read_right{
    width: 525px;
    border-right: none;
}
.read_right:after{
    content: "";
    height: 0;
    overflow: hidden;
    clear: both;
    display: block;
    visibility: hidden;
}
/*.read_left::-webkit-scrollbar {*/
    /*width: 10px;*/
/*}*/

/*.read_left::-webkit-scrollbar-button {*/
    /*display: none;*/
/*}*/

/*.read_left::-webkit-scrollbar-thumb {*/
    /*border: 0;*/
    /*border-radius: 6px;*/
    /*background: #d9d9d9;*/
/*}*/
/*.read_right::-webkit-scrollbar {*/
    /*width: 10px;*/
/*}*/

/*.read_right::-webkit-scrollbar-button {*/
    /*display: none;*/
/*}*/

/*.read_right::-webkit-scrollbar-thumb {*/
    /*border: 0;*/
    /*border-radius: 6px;*/
    /*background: #d9d9d9;*/
/*}*/
.test_passage{
    background: #555555;
    font-size: 16px;
    padding: 10px 3px;
    text-align: center;
    color: #ffffff;
    font-family: 'times_new';
}
.read_topic_left{
    padding: 20px 15px;
    font-size: 15px;
    color: #333333;
    line-height: 24px;
    /*text-align: justify;*/
    font-family: 'times_new';
    /*height: 600px;*/
}
.read_topic_left p,.read_topic_left span{
    font-family: 'times_new'!important;
    background: none!important;
    font-size: 18px!important;
    line-height: inherit!important;
}
.scroll_wrap::-webkit-scrollbar {
    width: 10px;
}

.scroll_wrap::-webkit-scrollbar-button {
    display: none;
}

.scroll_wrap::-webkit-scrollbar-thumb {
    border: 0;
    border-radius: 6px;
    background: #d9d9d9;
}
.read_topic_right{
    font-size: 16px;
    color: #333333;
    padding: 0 15px;
    line-height: 24px;
    font-family: 'times_new';
    /*height: 600px;*/
    /*overflow-y: auto;*/
}
.read_topic_right p,.read_topic_right span:not(.check_box){
    font-family: 'times_new'!important;
    font-size: 18px!important;
    background: inherit!important;
    color: #333333!important;
}
.r_read_tg{
    padding: 20px 0;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    font-family: 'times_new';
}
.r_read_tg span,.r_read_tg p{
    font-family: 'times_new'!important;
    font-size: 18px!important;
    background: none!important;
    line-height: inherit!important;
}
#exam_message span.sent-black{
    background: #333333!important;
    color: #ffffff;
}
.read_right_hint{
    /*padding: 4px 20px;*/
    background: #D3D3D3;
    line-height: 21px;
    text-align: left;

    padding: 10px;
    font-size: 18px;
    color: #333333;
    /*color: #fff;*/
    /*line-height: 21px;*/
    /*display: inline-block;*/
    font-family: 'times_new';
}
.read_right .form_check,.read_right .form_radio{
    margin-bottom: 40px;
    /*padding: 0 15px;*/
}
.exit_hint{
    padding-top: 105px;
    font-size: 18px;
    color: #333333;
    line-height: 24px;
    font-family: 'times_new';
}
.exit_hint b{
    font-weight: bold;
}
.help_btn{
    background: #7ab5cc;
    width: 76px;
    height: 32px;
    line-height: 25px;
    float: left;
    padding-top: 3px;
    border: 2px solid;
    cursor: pointer;
    margin-right: 2px;
    border-left-color: #9dc8d9;
    border-top-color: #c9e1ea;
    border-right-color: #6291a3;
    border-bottom-color: #6291a3;
}
.help_btn .tool_name{
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
    color: #555555;
}
.help_btn:hover{
    border-color:#868585;
    background: #ffffff;
}
.help_btn.on{
    border-color:#868585;
    background: #ffffff;
}
.help_intra h1,.help_intra p,.help_intra{
    font-size: 16px;
    color: #333333;
    line-height: 20px;
    font-family: 'times_new';
}
.help_intra .help_tit{
    font-size: 22px;
}
.help_intra h1,.help_intra b{
    font-weight: bold;
}
.help_intra p{
    text-align: justify;
}
.hp_list li{
    font-size: 14px;
    color: #333333;
    font-family: 'times_new';
    padding-left: 30px;
    background: url("../images/gre_De/point_li.png")no-repeat 12px 7px;
    margin-bottom: 4px;
}
.tool_intra li{
    margin-bottom: 25px;
}
.intra_tool_de{
    max-width: 565px;
    padding-left: 20px;
}
.intra_tool_de,.tool_img {
    display: inline-block;
    vertical-align: middle;
}
.help_item .help_intra{
    display: none;
}
.help_item .help_intra:first-child{
    display: block;
}
.time_handel{
    width: 210px;
}
.quit_wrap {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -232px;
    margin-top: -150px;
    width: 464px;
    border: 1px solid #000;
    z-index: 9001;
    background: #fff;
    padding-bottom: 50px;
}

.quit_wrap .tit {
    height: 40px;
    line-height: 40px;
    color: #000;
    background: #d2e4f0;
    font-weight: 700;
    text-align: left;
    padding: 0 20px;
}

.quit_wrap .quitclose {
    font-style: normal;
    float: right;
    cursor: pointer;
    font-weight: bold;
}

.quit_wrap .content {
    padding-top: 50px;
    padding-bottom: 40px;
    background: #fff;
    text-align: center;
    line-height: 30px;
}

.quit_wrap .continue {
    margin: 0 20px;
    display: inline-block;
    width: 100px;
    height: 42px;
    line-height: 42px !important;
    background-color: #a0c9d9;
    text-align: center;
    color: #000;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 -1px 1px rgba(255, 255, 255, .5), 0 1px 1px rgba(0, 0, 0, .5);
}

.mt10 {
    margin-top: 10px;
}

.mb20 {
    margin-bottom: 20px;
}
/*计算器样式*/
#CalWrapper{
    width: 179px;
    position: relative;
    z-index: 999;
}
.cal-wrapper {
    outline: 0;
    /*border: 1px solid silver;*/
    left: 100px;
    top: 200px;
    position: absolute
}
.cal-wrapper.hide{
    display: none;
}

.cal {
    width: 170px;
    height: 260px;
    border: 1px solid #404040;
    background: #fff;
    position: relative;
    padding: 30px 0 5px 5px
}

.cal-topbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 23px;
    background: #d1e4ef;
    font-weight: 700;
    cursor: move;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.cal-cancel {
    position: absolute;
    right: 2px;
    top: 2px;
    border: 1px solid #000;
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 17px;
    font-weight: 400;
    cursor: pointer
}

.cal-input {
    width: 130px;
    height: 23px;
    border: 1px solid #7a8a99;
    float: right;
    margin-bottom: 5px;
    margin-right: 7px;
    text-align: right;
    overflow: hidden
}

.cal-btn-wrapper {
    float: left
}

.cal-btn {
    float: left;
    width: 27px;
    height: 29px;
    border: 1px solid #000;
    text-align: center;
    line-height: 27px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #000
}

a.cal-btn:active {
    background: #d1e4ef;
}

.cal-bottom {
    width: 157px;
    height: 24px;
    border: 1px solid #000;
    color: #b2b2b2;
    font-weight: 700;
    line-height: 22px;
    float: left;
    text-align: center
}
.quantityWap{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.quantityWap .quantityTit{
    font-family: 'times_new';
    color: #333333;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}
.quantityWap .quantity{
    font-family: 'times_new';
    color: #333333;
    font-size: 18px;
    line-height: 24px;
    padding-top: 8px;
    /*height: 50px;*/
    /*overflow-y: auto;*/
    /*text-align: left;*/
    word-wrap: break-word;
}
.quantityWap .quantity p,.quantityWap .quantity span{
    font-family: 'times_new'!important;
    color: #333333!important;
    font-size: 16px!important;
}
.quantityWap .quantityItem:nth-child(1){
    margin-right: 15px;
}
.quantityWap .quantityItem:nth-child(2){
    margin-left: 15px;
}
.quantityItem{
    width: 300px;
}
.log_reg_zzc {
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1900;
    display: none;
}

.wrong {
    width: 402px;
    height: 345px;
    position: fixed;
    left: 50%;
    margin-left: -201px;
    top: 50%;
    margin-top: -172px;
    z-index: 2000;
    background: white;
    display: none;
}

.wrongTitle {
    width: 100%;
    height: 52px;
    line-height: 52px;
    color: white;
    font-size: 20px;
    background: #11a6f2;
    padding-left: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wrongTitle i {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.wrongTitle i:hover {
    cursor: pointer;
}

.wrong h5 {
    padding: 10px 0;
    font-weight: normal;
    font-size: 15px;
}

.wrongContent {
    background-color: white;
    padding-left: 20px;
}

.wrong select {
    width: 140px;
    padding-left: 5px;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wrong select:hover {
    cursor: pointer;
}

.wrong textarea {
    width: 353px;
    height: 112px;
}

.wrong input {
    padding: 3px 8px;
    border: 1px #11a6f2 solid;
    border-radius: 5px;
    color: #11a6f2;
    background: #e4fcff;
    float: none;
    margin-top: 10px;
}

.wrong input:hover {
    background: #e4fcff;
}

.wrong a {
    color: #9a9a9b;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
}