@font-face {
    font-family: 'times_new';
    src: url('/cn/font_face/times_3-webfont.woff2') format('woff2'),
    url('/cn/font_face/times_3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.w12 {
    width: 1200px;
    margin: auto;
}

.bg_f {
    background: #ffffff;
}

.mbt_20 {
    margin-bottom: 20px;
}

#tiku_De {
    padding: 10px 0 30px;
    background: #f3f3f3;
}

.tiku_left {
    width: 845px;
    word-wrap: break-word;
}

.mdt-oneSort {
    padding-top: 0 !important;
    padding-bottom: 20px;
}

.common_wrap {
    padding: 20px 20px 30px  20px;
}

.tiku_mdt_head {
    margin: 0 auto;
    padding: 20px 0;
    font-size: 14px;
}

.tiku_mdt_head a {
    color: #888888;
}

.tiku_mdt_head a:last-child {
    color: #02a3eb;
}

.tiku_mdt_head a:hover {
    color: #ff4d51;
}

.collect_btn {
    cursor: pointer;
}

.collect_btn:hover .collect_bg {
    background: url(/cn/images/gre_topicDe/mdt-collect02.png) no-repeat;
}

.collect_btn.on .collect_bg {
    background: url(/cn/images/gre_topicDe/mdt-collect02.png) no-repeat;
}

.collect_bg {
    width: 19px;
    height: 18px;
    display: inline-block;
    background: url(/cn/images/gre_topicDe/mdt-collect01.png) no-repeat;
    position: relative;
    top: 2px;
}

.tiku_mdt_dht {
    margin: 0 auto;
    font-size: 14px;
    color: #666666;
    height: 34px;
    padding: 0 20px 0 10px;
    line-height: 34px;
    background: #f1f1f1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.tiku_topic_handle input[type=button] {
    padding: 5px 15px;
    border: 1px #a1a1a1 solid;
    border-radius: 5px;
    color: #333333;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
}

.tiku_topic_handle input[type=button]:hover {
    text-decoration: underline;
}

.tiku_topic_handle input.toggle-timu {
    color: #04a4ea !important;
    border: 1px #04a4ea solid !important;
    margin-right: 10px;
}

.tiku_topic_handle .bshare-custom {
    font-size: 16px;
    vertical-align: baseline;
    padding-left: 5px;
}

.read_tit {
    border-bottom: 1px solid #cccccc;
}

.dx_topic {
    font-family: 'times_new';
    color: #333333;
    font-size: 18px;
    line-height: 24px;
    padding: 20px 0;
}

.dx_topic p, .dx_topic span {
    font-family: 'times_new' !important;
    color: #333333;
    font-size: 16px !important;
    line-height: 24px;
    background: none!important;
}

#curAnswer {
    display: none;
    color: #0a78ab;
    font-size: 14px;
    padding-top: 7px;
}
#curAnswer em{
    font-style: normal;
}

.note_wrap {
    display: none;
    margin-top: 20px;
    border: 1px #cccccc dashed;
    padding: 20px 20px 10px 20px;
    background-color: #f4f4f4;
}

#noteInt {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-family: '微软雅黑';
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.note_wrap input {
    padding: 3px 14px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}

.note_wrap input.yes {
    margin-right: 10px;
    color: white;
    background-color: #04a4ea;
}

.note_wrap input.no {
    background: none;
}

.editNote_btn {
    width: 30px;
    font-size: 12px;
    color: #02a3ea;
    border: none;
    background: none;
    cursor: pointer;
}

.editNote_btn:hover {
    color: #ff5061;
}

.nodeTime {
    color: #777777;
    font-size: 12px;
}

.editPre {
    width: 100%;
    padding-bottom: 10px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
    color: #333333;
}

.noteList {
    padding-top: 20px;
}

.noteList li {
    padding-bottom: 15px;
}

.noteList li textarea {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.topic_source {
    text-align: left;
    margin-top: 20px;
    font-size: 14px;
    color: #585858;
    border: 1px #cccccc dashed;
    padding: 10px 0 10px 20px;
    background-color: #f4f4f4;
}

.topic_source strong {
    color: #04a4ea;
}

.topic_source .upload {
    color: white;
    font-size: 12px;
    margin-left: 3px;
    background-color: #31ade5;
    border-radius: 5px;
    padding: 3px 6px;
}

.common_blue_tit {
    font-size: 20px;
    color: #02a3ea;
    border-left: 5px #02a3ea solid;
    padding-left: 5px;
    font-weight: normal;
    position: relative;
}

.common_blue_tit span {
    font-size: 14px;
    color: #777777;
}

.explain_wrap {
    padding: 20px 0 0 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.explain_time {
    padding-top: 10px;
    color: #929292;
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
}

.explain_time strong {
    color: #02a3ea;
    white-space: nowrap;
    max-width: 55px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    vertical-align: middle;
    padding: 0 3px;
}

.ad_link {
    padding-top: 30px;
    padding-bottom: 20px;
}


.ad_link a span {
    color: #45b6e9;
    font-weight: bold;
}

.tj_btn {
    cursor: pointer;
    padding: 4px 14px;
    background-color: #45b6e9;
    border-radius: 5px;
    color: white;
    border: none;
    margin-top: 3px;
    font-size: 12px;
}

.file {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    font-size: 14px;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

.file input {
    cursor: pointer;
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

.audioPath {
    border: 1px solid #CCCCCC;
    outline: none;
    padding: 4px;
    width: 200px;
    font-size: 14px;
}

.ldName {
    color: #004974;
    font-size: 14px;
}

.ldVal {
    border: 1px solid #CCCCCC;
    outline: none;
    padding: 4px;
    width: 150px;
    font-size: 14px;
}

.right-top-btn {
    cursor: pointer;
    padding: 4px 8px;
    background-color: #45b6e9;
    border-radius: 5px;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
}

#all_reply {
    width: 100%;
    height: 135px;
    border: 1px #a1a1a1 solid;
    margin-top: 10px;
    margin-bottom: 17px;
    overflow: hidden;
    padding: 15px;
    font-size: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.all_reply_yes input[type=button] {
    width: 103px;
    height: 36px;
    line-height: 36px;
    border-radius: 5px;
    color: #fff;
    background: #45b5e8;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.userImg_1 {
    width: 62px;
    height: 62px;
    margin: 0 auto;
    border: 1px #cccccc solid;
    border-radius: 50%;
    overflow: hidden;
}

.userImg_1 img {
    width: 100%;
    height: 100%;
}

.userNickname {
    font-size: 12px;
    color: #777777;
    margin-top: 10px;
    max-width: 80px;
}

.out_handle input[type=button] {
    color: white;
    font-size: 12px;
    background-color: #45b6e9;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}

.out_handle input.no {
    background: none;
    color: #45b6e9;
}

.inner_handle input[type=button] {
    color: white;
    font-size: 12px;
    background-color: #45b6e9;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}

.inner_handle input.no {
    background: none;
    color: #45b6e9;
}

.replyInt_a {
    height: 100px;
    width: 88%;
    margin-left: 12%;
    border: 1px #cccccc solid;
    display: block;
}

.replyInt_b {
    height: 100px;
    width: 96%;
    margin-left: 4%;
    border: 1px #cccccc solid;
    display: block;
}

.reply_userInfo {
    margin-right: 30px;
}

.reply_content_a {
    width: 690px;
    font-size: 14px;
}

.reply_time_info {
    color: #777777;
    font-size: 12px;
    padding-bottom: 10px;
}

.reply_time_info .tiku_answer {
    color: #45b5e8;
    cursor: pointer;
}

.userImg_2 {
    width: 26px;
    height: 26px;
    overflow: hidden;
}

.reply_name, .comment_name {
    font-size: 12px;
    max-width: 80px;
    color: #777777;
}

.reply_content_b {
    font-size: 14px;
}

.innerReply_list {
    width: 85.5%;
    margin-left: 11.5%;
    padding: 0 15px 0 10px;
    background: #f5f5f5;
    position: relative;
    padding-top: 10px;
    /*padding-bottom: 20px;*/
    margin-top: 10px;
}

.innerReply_list li {
    padding: 10px 0;
    border-bottom: 1px #cccccc solid;
    font-size: 14px;
}

.innerReply_list li:last-child {
    border-bottom: none;
}

.outItem {
    padding: 40px 0 25px;
    border-bottom: 1px #cccccc solid;
}

.pageSize {
    padding: 15px 0;
}

.pageSize li {
    height: 25px;
    padding: 0 9px;
    color: #6b6b6b;
    font-size: 13px;
    cursor: pointer;
    line-height: 25px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background: #f3f3f3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #d0d0d0;
}

.pageSize ul li:hover {
    border-color: #45b6e9;
    background: #45b6e9;
    color: #ffffff;
}

.pageSize ul li.on {
    border-color: #45b6e9;
    background: #45b6e9;
    color: #ffffff;
}

.pageSize ul li:last-child {
    margin-right: 0;
}

.innerInt_wrap, .outInt_wrap {
    display: none;
}

.voiceWrap {
    height: 85px;
    padding: 20px 0;
}

.voiceLeft {
    width: 50%;
    height: 100%;
    color: #ffffff;
    background: url("/cn/images/gre_topicDe/mdt-audio.png") no-repeat 0 0;
    background-size: cover;
}

.voiceRight {
    width: 50%;
    height: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333333;
}

.buyShow a {
    width: 98px;
    margin: 0 auto;
    display: block;
    padding: 2px 0;
    background: #ffffff;
    border-radius: 5px;
    color: #45b6e9;
    margin-bottom: 5px;
}

.buyShow .buyNum {
    font-size: 14px;
}

.voicePrice .rmbChange {
    font-size: 16px;
}

.voicePrice .needLd {
    font-size: 25px;
}

.voicePrice {
    margin-left: 25px;
    margin-top: 15px;
}

.buyShow {
    margin-right: 70px;
    margin-top: 20px;
}

.voiceRight #audio {
    display: none;
}

/********************音频css***********************/
.voiceRight #audio {
    display: none;
}

#play {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 10px;
}

#play, #sound, #moveBlock, #sound_moveBlock:hover {
    cursor: pointer;
}

#sound {
    height: 10px;
    width: 10px;
    position: absolute;
    left: 67%;
    top: 10px;
}

#videoContent {
    position: relative;
    width: 100%;
    top: 50px;
    background-color: #ccc;
    color: #605e5f;
}

#videoControls {
    position: absolute;
    bottom: 0;
    height: 35px;
    width: 95%;
    background-color: #b6e2ec;
    opacity: .8;
    border-radius: 5px;
}

#progress {
    position: absolute;
    height: 8px;
    width: 170px;
    left: 40px;
    top: 14px;
    background: #b6b6b6;
    border-radius: 8px;

}

#progressBG {
    position: absolute;
    height: 8px;
    width: 0;
    left: 0;
    top: 0;
    background-color: #f7b341;
    border-radius: 8px;

}

#moveBlock {
    position: absolute;
    height: 12px;
    width: 18px;
    left: 0;
    top: -2px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

#sound_progress {
    position: absolute;
    height: 8px;
    width: 70px;
    left: 73%;
    top: 14px;
    background: #b6b6b6;
    border-radius: 8px;
}

#sound_progressBG {
    position: absolute;
    height: 8px;
    width: 70px;
    left: 0;
    top: 0;
    background-color: #f7b341;
    border-radius: 8px;
}

#sound_moveBlock {
    padding: 0;
    margin: 0;
    position: absolute;
    height: 11px;
    width: 11px;
    left: 67px;
    top: -2px;
    background: #fcfcfc;
    border-radius: 8px;
}

/***************音频css end********************/
.tiku_right {
    width: 315px;
    overflow: hidden;
}

.rt_1 {
    height: 58px;
    background: url("/cn/images/gre_topicDe/right_t_bg1.png") no-repeat 0 0;
    background-size: 100% 100%;
}

.rt_2 {
    height: 58px;
    background: url("/cn/images/gre_topicDe/right_t_bg2.png") no-repeat 0 0;
    background-size: 100% 100%;
}

.rt_tit {
    color: #ffffff;
    font-size: 24px;
    display: block;
    line-height: 58px;
    text-align: center;
}

.rt_timu {
    color: #02a3ea;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 20px;
}

.rt_timu_de {
    font-size: 12px;
    color: #444444;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 15px;
}

.txtMarquee-top {
    padding: 0 10px;
    margin-bottom: 15px;
}

.rt_list li {
    padding: 10px 0;
    border-bottom: 1px solid #cccccc;
}

.rt_list li:hover .rt_timu {
    text-decoration: underline;
}

.rt_list li:last-child {
    border-bottom: none;
}

.erm_intra {
    color: #333333;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0;
}

.erm_img {
    width: 250px;
    height: 250px;
    margin: 0 auto 25px;
    overflow: hidden;
}

.erm_img img {
    width: 100%;
    height: 100%;
}

/**********************************右边END*******************************/
.form_check {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    font-family: 'times_new';
}

.form_check .input_check {
    position: absolute;
    width: 16px;
    height: 16px;
    visibility: hidden;
}

.form_check .label_row {
    position: relative;
    padding: 5px 0;
    display: block;
    cursor: pointer;
}

.form_check .label_row:hover span.check_box {
    background-position: -31px -80px;
}

.form_check .input_check + span.check_box {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 11px;
    background: url('/cn/images/gre-form.gif') -57px -60px no-repeat;
}

.form_check .input_check:checked + span.check_box {
    background-position: -5px -100px;
}

.form_radio {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    font-size: 18px;
    color: #333333;
    line-height: 24px;
    font-family: 'times_new';
}

.form_radio .input_check {
    position: absolute;
    width: 26px;
    height: 16px;
    visibility: hidden;
}

.form_radio .label_row {
    position: relative;
    padding: 5px 0;
    display: block;
    cursor: pointer;
}

.form_radio .label_row:hover span.check_box {
    background-position: -104px -20px;
}

.form_radio .input_check + span.check_box {
    display: inline-block;
    width: 26px;
    height: 16px;
    margin-right: 11px;
    background: url('/cn/images/gre-form.gif') -130px 0 no-repeat;
}

.form_radio .input_check:checked + span.check_box {
    background-position: -78px -40px;
}

.tk_int {
    width: 235px;
    height: 33px;
    padding: 0 5px;
    border: 1px solid #555555;
    font-size: 18px;
    font-family: 'times_new';
    color: #555555;
}

#tk_model {
    padding: 20px 0 40px;
}

.dk_select_wrap {
    padding-bottom: 75px;
}

.dk_select_wrap.double_set .dk_select {
    margin-right: 84px;
}

.dk_select_wrap .dk_select:last-child {
    margin-right: 0;
}

.dk_select_wrap .dk_select:first-child {
    margin-left: 0;
}

.dk_select {
    width: 248px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    /*margin-left: -6px;*/
    text-align: center;
    border: 1px solid #555555;
}

.dk_select li {
    height: 30px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'times_new';
    line-height: 30px;
    overflow-y: auto;
    border-bottom: 1px solid #555555;
}

.dk_select li:last-child {
    border-bottom: transparent;
}

.dk_select li:hover {
    background: #555555;
    color: #ffffff;
}

.dk_select li.selected {
    color: #ffffff;
    background: #555555;
}

.topic_content {
    padding: 20px 0 40px;
}

.read_left, .read_right {
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.read_topic_left {
    padding-right: 8px;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    /*text-align: justify;*/
    font-family: 'times_new';
    overflow-y: auto;
    height: 450px;
    border-right: 1px solid #8b8b8b;
}

.read_topic_left p, .read_topic_left span {
    font-family: 'times_new'!important;
    font-size: 16px!important;
    color: #333333!important;
    /*background: transparent!important;*/
}

.read_right .readAll_list li {
    float: left;
    margin-right: 7px;
    margin-bottom: 4px;
}

.read_right .readAll_list li:last-child {
    margin-right: 0;
}

.read_right .readAll_list li a {
    display: block;
    padding: 2px 9px;
    background-color: #e6e6e6;
    color: #787878;
    font-size: 14px;
    border-radius: 3px;
}

.read_right .readAll_list li a:hover {
    color: #ffffff;
    background-color: #31ade5;
}

.read_right .readAll_list li.on a {
    color: #ffffff;
    background-color: #31ade5;
}

.scroll_wrap::-webkit-scrollbar {
    width: 8px;
}

.scroll_wrap::-webkit-scrollbar-track {
    background: #c5c5c5;
}

.scroll_wrap::-webkit-scrollbar-button {
    display: none;
}

.scroll_wrap::-webkit-scrollbar-thumb {
    border: 0;
    border-radius: 6px;
    background: #6e6e6e;
}

.read_topic_right {
    padding: 0 15px;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    font-family: 'times_new';
    overflow-y: auto;
    max-height: 450px;
}

.r_read_tg {
    padding-bottom: 20px;
    font-size: 18px;
    color: #333333;
    line-height: 24px;
    font-family: 'times_new';
}

.r_read_tg p, .r_read_tg span {
    font-family: 'times_new' !important;
    font-size: 16px !important;
    background: none!important;
}

#exam_message span.sent-black {
    background: #333333 !important;
    color: #ffffff !important;
}
.newspBox_Wrap{
    padding-top: 10px;
}
.newspBox{
    font-family: 'times_new';
    font-size: 18px;
    width: 45%;
}
.newspBox p,.newspBox span{
    font-family: 'times_new' !important;
    font-size: 16px !important;
}
.newspBox .qName{
    font-family: 'times_new';
    font-size: 18px;
    padding-bottom: 10px;
}
.log_reg_zzc {
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1900;
    display: none;
}

.wrong {
    width: 402px;
    height: 345px;
    position: fixed;
    left: 50%;
    margin-left: -201px;
    top: 50%;
    margin-top: -172px;
    z-index: 2000;
    background: white;
    display: none;
}

.wrongTitle {
    width: 100%;
    height: 52px;
    line-height: 52px;
    color: white;
    font-size: 20px;
    background: #11a6f2;
    padding-left: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wrongTitle i {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.wrongTitle i:hover {
    cursor: pointer;
}

.wrong h5 {
    padding: 10px 0;
    font-weight: normal;
    font-size: 15px;
}

.wrongContent {
    background-color: white;
    padding-left: 20px;
}

.wrong select {
    width: 140px;
    padding-left: 5px;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wrong select:hover {
    cursor: pointer;
}

.wrong textarea {
    width: 353px;
    height: 112px;
}

.wrong input {
    padding: 3px 8px;
    border: 1px #11a6f2 solid;
    border-radius: 5px;
    color: #11a6f2;
    background: #e4fcff;
    float: none;
    margin-top: 10px;
}

.wrong input:hover {
    background: #e4fcff;
}

.wrong a {
    color: #9a9a9b;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
}
.toast{
    display: none;
    position: fixed;
    left: 50%;
    top:50%;
    margin-top: -80px;
    margin-left: -153px;
    z-index: 2000;
}
#fixedTc {
    display: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 50%;
    top: 60%;
    border-radius: 8px;
    padding: 15px 35px;
    z-index: 999;
    color: #fff;
    font-size: 16px;
    margin-left: -35px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #cdcdcd;
}
.editor_content{
    font-size: 12px;
}