body {
    min-width: 1200px;
}

.w12 {
    width: 1200px;
    margin: auto;
}

.bg_f {
    background: #ffffff;
}

#word_intra {
    height: 400px;
    overflow: hidden;
    background: url("../images/gre_De/de_bg.png") no-repeat 0 0;
    background-size: 100% 100%;
}

.de_text {
    width: 680px;
    font-size: 16px;
    height: 120px;
    padding: 10px 155px 0;
    color: #ffffff;
    line-height: 22px;
    margin: 80px auto 40px;
    background: url("../images/gre_De/de_text_bg.png") no-repeat 0 0;
}

.de_text .green_strong {
    color: #33c26c;
    font-size: 22px;
    font-weight: bold;
}

#wordItem {
    padding: 15px 0 60px;
    background: #f3f3f3;
}

.user_data {
    color: #666666;
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.user_data strong {
    color: #3e4093;
    vertical-align: middle;
}

.progress {
    width: 350px;
    height: 10px;
    overflow: hidden;
    background: #c8c8c8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.progress span {
    height: 8px;
    left: 0;
    top: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #5b6cd1;
    border: 1px solid #505e91;
}

.progress_wrap {
    padding: 0 5px;
    height: 22px;
    line-height: 18px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #e9ebed;
}

.pd_lr65 {
    padding-left: 65px;
    padding-right: 65px;
}

.radio_k {
    padding-top: 20px;
}

.check_radio {
    color: #777777;
    font-size: 14px;
    padding-top: 2px;
}

.check_radio label {
    padding: 0 10px;
    cursor: pointer;
}

.check_radio span, .check_radio input {
    vertical-align: middle;
}
.wordItem_list{
    padding-top: 30px;
}
.wordItem_list li{
    width: 169px;
    height: 114px;
    float: left;
    margin-right: 54px;
    line-height: 110px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #e9e8e8;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    background: url("../images/gre_De/wd_bg.png")no-repeat 0 0;
    background-size: 100% 100%;
}
.wordItem_list.ws_second li{
    width: 126px;
    height: 142px;
    line-height: 140px;
    margin-left: 66px;
    margin-right: 0;
    background: url("../images/gre_De/ws_bg1.png")no-repeat 0 0;
}
.wordItem_list li:nth-child(5n){
    margin-right: 0;
}
.wordItem_list.ws_second .num_text{
    font-size: 20px;
    color: #fff;
}
.wordItem_list.ws_second .countNum_text{
    font-size: 16px;
    color: #fff;
}
.word_num{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.num_text{
    font-size: 20px;
    color: #555555;
    line-height: 30px;
    font-weight: bold;
    padding-bottom: 4px;
}
.countNum_text{
    color: #555555;
    font-size: 18px;
    line-height: 30px;
}
.word_tag{
    width: 75px;
    height: 42px;
    position: absolute;
    right: -16px;
    top: -20px;
    font-size: 14px;
    color: #ffffff;
    line-height: 30px;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform:rotate(30deg) ;
}
.word_tag span{
    line-height: 63px;
    padding-left: 15px;
    display: inline-block;
    vertical-align: middle;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform:rotate(-30deg) ;
}
.word_tag.over{
    background: #2cb486;
}
.word_tag.nothing{
    background: #6d6ae2;
}
.word_tag.break{
    background: #9e9fa1;
}
.location{
    padding: 20px 0;
    font-size: 18px;
    color: #666666;
}
.location a{
    color: #666666;
}
.location a:hover{
    color: #ff5061;
    text-decoration: underline;
}
.location .cur_ls{
    color: #4547b7;
}

/*分页*/
.pageSize {
    border-radius: 25px;
    background: #e6dfdf;
    box-shadow: 0 1px 3px 0 #cccccc;
}

.pageSize li {
    float: left;
    text-align: center;
    color: #7e7e7e;
    line-height: 35px;
    font-size: 15px;
    width: 34px;
    height: 35px;
    cursor: pointer;
    border-right: 1px solid #fdfdfd;
}

.pageSize li:hover {
    color: #464794;
}

.pageSize li.on {
    color: #464794;
}

.pageSize li:first-child, .pageSize li:last-child {
    font-size: 15px;
}

.pageSize li:last-child {
    border-right: none;
}

.pageSize_wrap {
    padding: 55px 0 80px;
}

#wordStudy {
    /*min-height: 909px;*/
    padding-top: 50px;
    padding-bottom: 150px;
    background: url("../images/gre_De/word_bg.png") no-repeat 0 0;
    background-size: 100% 100%;
}

#study .input_check {
    position: absolute;
    width: 12px;
    height: 12px;
    visibility: hidden;
}

#study .label_row {
    position: relative;
    padding: 5px 0;
    cursor: pointer;
    margin: 0 7px;
}

#study .input_check + span.check_box {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('../images/gre_De/studyRadio.png') 0 -16px no-repeat;
}

#study .input_check:checked + span.check_box {
    background-position: 0 0;
}

.word_head {
    background: #5578d0;
    color: #ffffff;
    padding: 20px 0;
}

.cur_item {
    padding-left: 40px;
    font-size: 24px;
    font-weight: bold;
}

.overStudy_btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #5578d0;
    width: 113px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    background: #ffffff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin: 0 20px 0 15px;
}

.overStudy_btn:hover {
    color: #ffffff;
    background: #5788e2;
}

.cur_num,.mhcur_num {
    font-size: 24px;
}

.studyInfo {
    width: 935px;
    min-height: 490px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin: auto;
    overflow: hidden;
}

.small_w {
    width: 33%;
}
#study{
    text-align: right;
    width: 33%;
}
.itemData {
    width: 580px;
    margin: auto;
    padding: 50px 0 30px;
}

.cur_word {
    color: #3b59a5;
    font-weight: bold;
    font-size: 33px;
}

.sound_icon {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 22px;
    background: url("../images/gre_De/lab_1.png") no-repeat 2px 3px;
    background-size: 19px 17px;
    -webkit-background-size: 19px 17px;
    -moz-background-size: 19px 17px;
    -o-background-size: 19px 17px;
}

.sound_icon:hover, .sound_icon.on {
    background-image: url("../images/gre_De/sound.gif");
    background-size: 22px 21px;
    background-position: 2px 0;
}

.yb_en {
    font-size: 18px;
    color: #535353;
    padding: 0 12px;
}

.sound_ch {
    vertical-align: middle;
    font-size: 14px;
    color: #3b59a5;
}

.sound_wrap {
    padding-right: 7px;
}

.small_font {
    color: #444444;
    font-size: 14px;
    margin-bottom: 30px;
}

.small_font li {
    margin-bottom: 7px;
}

.sc_icon {
    width: 20px;
    height: 15px;
    background: url("../images/gre_De/w_sc.png") no-repeat 0 0;
}
.sc_icon.on{
    background-position: -21px 0;
}

.add_sc {
    font-size: 14px;
    color: #5578d0;
    vertical-align: middle;
    cursor: pointer;
}

.add_sc:hover .sc_icon {
    background-position: -21px 0;
}

.sc_wrap {
    padding-top: 20px;
}

.wordInfo_head {
    padding-bottom: 15px;
}

.lx_handle {
    display: inline-block;
    vertical-align: middle;
    color: #3b59a5;
    font-size: 14px;
    border: 1px solid #5578d0;
    width: 94px;
    height: 28px;
    line-height: 28px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    margin: 0 30px;
}

.lx_handle:hover {
    background: #5578d0;
    color: #ffffff;
}
.lx_handle.on{
    background: #5578d0;
    color: #ffffff;
}

.word_wrap {
    max-width: 100%;
    word-break: break-all;
}

.w_crow {
    width: 41px;
    height: 75px;
    top: 50%;
    margin-top: -80px;
    opacity: 0.6;
    background: url("../images/gre_De/w_crow.png") no-repeat;
}

.w_crow:hover {
    opacity: 1;
}

.prev {
    left: 14px;
    background-position: 0 0;
}

.next {
    right: 14px;
    background-position: -43px 0;
}

.w_bc_btn span {
    color: #777777;
    font-size: 14px;
    vertical-align: middle;
    padding-left: 5px;
}

.w_bc_btn:hover {
    text-decoration: underline;
}

.bc_btn_wrap {
    padding: 15px 20px;
}
.team_wrap{
    display: none;
}
.itemData .team_wrap:nth-child(1){
    display: block;
}

#complete {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    z-index: 10;
}
.complete_wrap{
    display: none;
    width: 580px;
    top: 50%;
    position: relative;
    margin: -151px auto 0;
    padding: 25px 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.complete_data{
    color: #555555;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
.complete_zh{
    color: #444444;
    font-size: 20px;
    padding: 20px 0 15px;
}
.cm_btn{
    width: 115px;
    height: 33px;
    font-size: 14px;
    color: #ffffff;
    line-height: 33px;
    background: #5578d0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 18px;
}
.cm_btn:hover{
    background: #4a68b4;
}
.exit_tc,.alert_tc{
    display: none;
    padding: 55px 0;
    width: 520px;
    top: 50%;
    margin: -116px auto 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.exit_hint,.alert_hint{
    font-size: 24px;
    color: #555555;
    line-height: 30px;
    padding: 10px 0 50px;
}
.close_exit{
    right: -27px;
    top: -27px;
    cursor: pointer;
}
.word_de_wrap .bd{
    width: 750px;
    min-height: 400px;
    margin: auto;
    padding-top: 40px;
}
.wordTest{
    /*width: 750px;*/
    margin: auto;
    padding: 0 0 20px;
}
.wt_list{
    min-height: 330px;
}
.wordTest .wordTest_child{
    width: 190px;
    height: 120px;
    padding: 10px 0;
    float: left;
    word-break: break-all;
    margin-right: 90px;
}
.wordTest .wordTest_child:nth-child(3n){
    margin-right: 0;
}
.mc_js{
    display: none;
    color: #4b6fc8;
    font-size: 14px;
    padding-top: 5px;
}
.wordTest .cur_word{
    font-size: 20px;
    color: #444444;
}
.wordTest .cur_word.right{
    color: #5578d0;
}
.wordTest .cur_word.error{
    color: #c63535;
}
.wordTest .yb_en{
    font-size: 14px;
    color: #535353;
    padding-left: 5px;
}
.user_js_int{
    font-size: 14px;
    color: #444444;
    border: none;
    line-height: 22px;
    border-bottom: 1px solid #aaaaaa;
    outline: none;
    width: 100%;
}
.cur_wordTest{
    word-break: break-word;
    padding-bottom: 10px;
}
