body {
    min-width: 1200px;
}

.w12 {
    width: 1200px;
    margin: auto;
}

#result_wrap {
    background: #f3f3f3;
    padding: 10px 0 30px;
}

.bg_f {
    background: #ffffff;
}

.result_content {
    padding: 20px 50px;
}

.location_address {
    padding-top: 10px;
    font-size: 16px;
    color: #333333;
}

.location_address a {
    color: #333333;
}

.location_address a:hover {
    color: #ff1a3a;
    text-decoration: underline;
}

.cur_address {
    color: #3e4093;
}

.situation_en {
    padding: 20px 0;
    font-size: 20px;
    color: #777777;
}

.situation_data_wrap {
    background: #34b8d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 113px;
    margin-right: 25px;
    line-height: 113px;
    width: 200px;
}

.situation_data {
    line-height: normal;
}

.data_text {
    color: #ffffff;
    /*margin-right: 15px;*/
    max-width: 100px;
}

.dt_name {
    font-size: 16px;
    padding: 0 8px;
    line-height: 30px;
    margin-bottom: 7px;
    border-bottom: 1px solid #ffffff;
}

.dt_de {
    font-size: 12px;
    line-height: 14px;
    max-height: 42px;
    text-align: justify;
}

.time_use {
    background: #daac71;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 113px;
    width: 255px;
    color: #ffffff;
    /*line-height: 113px;*/
}

.time_box {
    width: 48px;
    height: 58px;
    padding: 0 5px;
    line-height: 58px;
    margin: 0 auto 4px;
    border: 1px solid #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    word-break: break-all;
}

.time_text {
    font-size: 14px;
    line-height: normal;
}

.time_name {
    font-size: 16px;
    line-height: 26px;
}

.time_box_data {
    width: 50%;
    padding-top: 15px;
    text-align: center;
}

.sbn_wrap {
    width: 125px;
    display: block;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 28px;
    line-height: 24px;
    border: 1px solid #4058bf;
}

.sbn_wrap:hover .sbn_name {
    text-decoration: underline;
}

.sbn_name {
    vertical-align: middle;
    color: #4058bf;
    padding-left: 5px;
    font-size: 14px;
}

.sbn_btn {
    padding-top: 2px;
}

.situation {
    margin-bottom: 30px;
}

.pageSize_wrap li {
    float: left;
    margin-right: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    border: 1px solid #2f92f7;
}

.pageSize_wrap li a {
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    font-size: 14px;
    color: #2f92f7;
    cursor: pointer;
}

.pageSize_wrap li a:hover {
    text-decoration: underline;
}

.pageSize_wrap li.on {
    border-color: #e85858;
}

.pageSize_wrap li.on a {
    color: #e85858;
}

.pageSize_name {
    padding-right: 15px;
    color: #444444;
    font-size: 16px;
}

.result_pageSize {
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
}

.topic_data {
    font-size: 14px;
    color: #888888;
    padding-top: 3px;
}

.topic_data span {
    float: left;
    height: 14px;
    padding: 0 20px;
    line-height: 14px;
    border-right: 1px solid #888888;
}

.topic_data span:first-child {
    padding-left: 0;
}

.topic_text {
    color: #555555;
    font-size: 14px;
}

.right_answer {
    color: #398de1;
}

.error_answer {
    color: #e85858;
}

.topic_de {
    padding-bottom: 20px;
}

.answer_wrap {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}

.answer_wrap .flexRow {
    padding-top: 5px;
}

.answer_wrap span:first-child {
    padding-right: 50px;
}

.user_handle {
    padding-right: 60px;
    font-size: 14px;
}

.u_btn {
    padding: 0 18px;
}

.u_btn:hover span {
    text-decoration: underline;
}

.u_btn span {
    padding-left: 3px;
    vertical-align: middle;
    color: #4058bf;

}

.sc_icon {
    width: 19px;
    height: 17px;
    margin-right: -2px;
    background: url("../images/gre_result/sc.png") no-repeat 0 0;
}

.ub_sc.on .sc_icon {
    -ms-background-position-x: -26px;
    background-position-x: -26px;
}

.topic_num {
    height: 22px;
    margin-right: 15px;
    line-height: 22px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 7px;
    font-size: 14px;
    color: #2f92f7;
    border: 1px solid #2f92f7;
}

.topic_num.error_num {
    border-color: #e85858;
    color: #e85858;
}

.xzAnswer {
    display: inline-block;
    vertical-align: top;
    max-width: 930px;
}

.test_de {
    width: 1050px;
}

.result_list {
    padding: 20px 0 0;
}

.result_list li {
    padding: 10px 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
}

.result_list li.shadown {
    background: rgba(0, 0, 0, 0.08);
}

.result_list li:last-child {
    border-bottom: none;
}

#flex_list_wrap {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#flex_list_wrap .pageSize_wrap {
    padding: 25px 50px;
}

.bar_container {
    width: 65px;
    height: 65px;
    padding: 5px;
    border-radius: 50%;
    background: #ffffff;
}

.quit_wrap {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -232px;
    margin-top: -150px;
    width: 464px;
    border: 1px solid #000;
    z-index: 9001;
    background: #fff;
    padding-bottom: 15px;
}

.quit_wrap .tit {
    height: 40px;
    line-height: 40px;
    color: #000;
    background: #d2e4f0;
    font-weight: 700;
    text-align: left;
    padding: 0 20px;
}

.quit_wrap .quitclose {
    font-style: normal;
    float: right;
    cursor: pointer;
    font-weight: bold;
}

.quit_wrap .content {
    padding: 20px 0;
    background: #fff;
    text-align: center;
    line-height: 30px;
}

.quit_wrap .continue {
    margin: 0 20px;
    display: inline-block;
    width: 100px;
    height: 34px;
    line-height: 34px !important;
    background-color: #a0c9d9;
    text-align: center;
    color: #000;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 -1px 1px rgba(255, 255, 255, .5), 0 1px 1px rgba(0, 0, 0, .5);
}

.mt10 {
    margin-top: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

#fixedTc {
    display: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 50%;
    top: 60%;
    border-radius: 8px;
    padding: 15px 35px;
    z-index: 999;
    color: #fff;
    font-size: 16px;
    margin-left: -35px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #cdcdcd;
}