body {
    color: #888;
    font-size: 14px;
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.clearfix {
    clear: both;
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.font-8 {
    color: #888;
}

.font-3 {
    color: #333;
}

.font-pur {
    color: #4D6FCC;
}

.font-bold {
    font-weight: bold;
}

.font-18 {
    font-size: 18px;

}

.font-16 {
    font-size: 16px;

}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mr-5 {
    margin-right: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.content {
    margin-bottom: 80px;
}

section {
    padding: 15px;
}

.transcript {
    border: 1px solid rgba(229, 229, 229, 1);
}

.subject {
    padding: 15px;

    border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.transcript .subject:last-child {
    border-bottom: none;
}

.time {
    background: #F5F5F5;
    height: 50px;
}

.time span {
    display: block;
    width: calc(50% - 1px);
    height: 30px;
    float: left;
    text-align: center;
    margin-top: 10px;
    line-height: 30px;
}

.time span:first-child {
    border-right: 1px solid #DDDDDD;
}

progress {
    width: 100%;
    height: 15px;
    border-radius: 7.5px;
    background: rgba(243, 243, 248, 1);
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.06);
}

progress::-webkit-progress-bar {
    background-color: #EEEEEE;
    border-bottom-right-radius: 7.5px;
    border-top-right-radius: 7.5px;
}

progress::-webkit-progress-value {
    background-color: #4D6FCC;
    border-bottom-left-radius: 7.5px;
    border-top-left-radius: 7.5px;

}

.footer {
    position: fixed;
    height: 50px;
    width: calc(100% - 30px);
    bottom: 0;
    background: #fff;
    padding: 15px;
    border-top: 1px solid #DDDDDD;
}

.footer img {
    width: 50px;
}



.footer .des {
    margin-left: 15px;
}

.xiazai {
    background: linear-gradient(to right, #5A5EE4 0%, #797CE9 100%);
    border: none;
    box-shadow: none;
    color: #fff;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    font-weight: bold;
}
