body {
    min-width: 1200px;
}

.w12 {
    width: 1200px;
    margin: auto;
    overflow: hidden;
}

.bg_f {
    background: #ffffff;
}

#searchProblem {
    padding: 0 0 70px;
    background: #f3f3f3;
    position: relative;
}

.list_wrap {
}

.pn_wrap {
    margin-bottom: 8px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EEEEEE;
}

.problem_name {
    display: block;
    font-size:14px;
    font-weight:500;
    color:rgba(51,51,51,1);
}

.problem_de {
    box-sizing: border-box;
    padding-left: 8px;
    color: #484848;
    font-size: 14px;
    max-height: 40px;
    line-height: 20px;
    /* width: 610px; */
}
.problem_de:hover{
    color: #5A5EE4;
}
.pd_row span {
    vertical-align: middle;
    color: #777777;
    font-size: 14px;
    display: inline-block;
}

.problem_data {
    width: 230px;
}

.problem_data .pd_row:nth-child(1) {
    border-color: #777777;
}

.pd_row {
    width: 114px;
    height: 18px;
    float: left;
    text-align: center;
    line-height: 18px;
    border-right: 1px solid transparent;
}
.problem_list{
    width: 100%;
}
.problem_list dt {
    padding: 10px 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}
/* .problem_name:hover{
    text-decoration: underline;
} */
.left_wrap{
    width: 880px;
}
/*分页*/
.pageSize {
    border-radius: 25px;
    /* background: #e6dfdf;
    box-shadow: 0 1px 3px 0 #cccccc; */
    display: flex;
}

.pageSize li {
    text-align: center;
    color: #6B6B6B;
    line-height: 27px;
    font-size: 13px;
    width:27px;
    height:27px;
    cursor: pointer;
    margin-right: 8px;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
}

.pageSize li:hover {
    color: #7D80EA;
}

.pageSize li.on {
    color: #ffffff;
    background: #7D80EA;
    border: 1px solid #7D80EA;
}
.pageSize li:first-child{
    margin-left: 8px;
}

.pageSize li:last-child {
}

.pageSize_wrap {
    padding: 75px 0 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prev{
    width:34px;
    height:27px;
    border-radius:3px 3px 3px 3px;
    border:1px solid #CCCCCC;
    cursor: pointer;
    /* background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(255,255,255,0.5)); */
}
.next{
    width:34px;
    height:27px;
    border-radius:3px 3px 3px 3px;
    border:1px solid #CCCCCC;
    cursor: pointer;
    /* background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(255,255,255,0.5)); */
}
.prev img{
    transform: rotate(180deg);
}
/*右边*/
.right_wrap{
    width: 300px;
}
.right_tit{
    height: 50px;
    text-align: left;
    line-height: 50px;
    background: #ffffff;
    border-bottom: 1px solid #EEEEEE;
}
.rt_name{
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    padding-left: 10px;
    vertical-align: middle;
    border-left: 3px solid #7D80EA;
    margin-left: 8px;
}
.txtMarquee-top{
    padding: 5px 7px 10px;
    margin-bottom: 20px;
}
.rt_list_name_wrap{
    font-size: 15px;
    color: #444444;
    line-height: 20px;
    text-indent: -4px;
    padding-bottom: 5px;
}
.rt_list_name{
    color: #444444;
    font-size: 14px;
    max-width: 274px;
    text-indent: 0;
    vertical-align: middle;
}
.rt_de{
    color: #777777;
    font-size: 14px;
    line-height: 18px;
    height: 36px;
}
.rt_de:hover{
    color: #5A5EE4;
}
.right_list_tl li{
    border-bottom: 1px dashed #cdcdcd;
    padding: 10px 0;
}
.right_list_tl li:hover .rt_list_name{
    /* text-decoration: underline; */
}
.right_list_tl li:last-child{
    border-bottom: none;
}
/*标签选择*/
#tagCheck{
    margin-bottom: 15px;
    overflow: hidden;
}
.big_tag{
    margin-bottom: 15px;
    margin-top: 20px;
}
.big_tag a{
    float: left;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    line-height: 42px;
    cursor: pointer;
    border-right: 1px solid #ffffff;
}
.big_tag a:hover{
    color: #5A5EE4;
}
.big_tag a.on{
    color: #5A5EE4;
    border: 1px solid #5A5EE4;

}
.child_tag{
    margin-bottom: 15px;
}
.child_tag_name{
    width: 114px;
    text-align: center;
    height: 27px;
    line-height: 27px;
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(136,136,136,1);
}
.child_tag_list{
    width: 710px;
    display: flex;
    flex-wrap: wrap;
}
.child_tag_list a{
    color: #444444;
    text-align: left;
    line-height: 27px;
    border-radius: 4px;
    margin-right: 38px;
    margin-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    line-height: 20px;
    float: left;
    cursor: pointer;
    font-size: 14px;
    /*outline: 1px solid red;*/
}
.child_tag_list a:hover{
    color: #5A5EE4;
    /*background: #8789f6;*/
}
.child_tag_list a.on{
    color: #5A5EE4;
    border: 1px solid #5A5EE4;
    /*background: #8789f6;*/
}
.ques-source-wrap{
    height: 70px;
    overflow: hidden;
    position: relative;
}
.see-more-ques{
    position: absolute;
    bottom: 15px;
    cursor: pointer;
    right: 0px;
    font-size:12px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(90,94,228,1);
}
.see-more-ques i{
    display: inline-block;
    width: 12px;
    height: 7px;
    margin-left: 3px;
    background: url('/cn/images/new_gre/search_down.png') no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    transition: all 0.5s;
}
/*搜索框*/
#searchWrap {
    background: url('/cn/images/new_gre/search_bj.png') no-repeat;
    background-position: center center;
    background-size: 100%;
    margin-bottom: 10px;
    padding: 15px 35px;
    overflow: hidden;
    margin-top: 22px;
    padding-bottom: 40px;
}
.new-gre-search-title-wrap{
    margin-top: 35px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-gre-search-title-wrap span:first-child{
    font-size:30px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(255,255,255,1);
    height: 35px;
    display: inline-block;
    line-height: 35px;
    text-shadow:0px 3px 7px rgba(0, 0, 0, 0.35);
}
.new-gre-search-title-wrap span:last-child{
    display: inline-block;
    width: 334px;
    text-align: center;
    line-height: 35px;
    height:35px;
    background:rgba(255,255,255,1);
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    margin-left: 20px;
}
.new-gre-serch-data{
    width:720px;
    height:53px;
    background:rgba(255,255,255,0.17);
    margin-top: 26px;
    margin-bottom: 22px;
    color: #FFFEFE;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.new-gre-serch-data div{
    flex: 1;
    height: 100%;
    line-height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .new-gre-serch-data div span{
    display: inline-block;
} */
.new-gre-serch-data div span:first-child{
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    display: inline-block;
}
.new-gre-serch-data div span:last-child{
    font-size:24px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
}
.searchInt{
    color: #555555;
    font-size: 16px;
    height: 40px;
    outline: none;
    border: none;
    width: 650px;
    vertical-align: middle;
    padding: 0 5px 0 15px;
    float: left;
}
.searchInt::-webkit-input-placeholder{
    color: #555555;
    font-size: 16px;
}
.searchInt_wrap{
    /* background: #ffffff; */
    border-radius: 6px;
    overflow: hidden;
    /*margin: 0 80px;*/
    /* border: 1px solid #cccccc; */
    width: 721px;
    box-sizing: border-box;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.searchInt::-webkit-input-placeholder { /* WebKit browsers */
    color: #777777;
    font-size:12px;
}

.searchInt::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #777777;
    font-size:12px;
}

.searchInt::-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #777777;
    font-size:12px;
} 
#search_btn{
    width: 55px;
    padding-right: 10px;
    text-align: right;
    line-height: 40px;
    cursor: pointer;
    overflow: hidden;
    background: #5A5EE4;
    float: left;
}
#search_btn img{
    margin-right: 9px;
    margin-top: -2px;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
}
#search_btn:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.sr2_img{
   margin-top: -8px;
}
.new-gre-ques-wrap-list-box-top{
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.overWrap{
    font-size: 14px;
    text-align: center;
    /* width: 134px; */
    border-radius: 4px;
    /* border: 1px solid #CCCCCC; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.new-gre-line{
    width: 1px;
    height: 14px;
    margin-left: 14px;
    margin-right: 14px;
    background: #DCDCDC;
}
.userOver{
    height: 25px;
    line-height: 25px;
    color: #888888;
    font-size: 14px;
    /* background: #8789f6; */
}
.userXl{
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #888888;
}
.newAd_img{
    max-height: 280px;
    overflow: hidden;
    /*margin-bottom: 20px;*/
    position: relative;
}
.newAd_img img:not(.close-icon){
    width: 100%;
}
.close-icon{
    position: absolute;
    right: 5px;
    top: 5px;
}
.close-icon:hover{
    cursor: pointer;
}
/* 搜索框吸顶 */
.sticky-search-box{
    display: none;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 108px;
    background: #ffffff;
    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.04);
}
.sticky-search{
    margin: 30px auto;
    width: 760px;
}
.sticky-search .searchInt{
    border: 1px solid #DCDCDC;
    border-right: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.sticky-search #search_btn{
    width: 97px;
    text-align: center;
    background: #5A5EE4;
    color: #ffffff;
    font-size: 16px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}