
body{
    background-color: white}
.footer{
    padding: .22rem;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    border-top:0.01rem solid #F5F5F5;
    box-sizing: border-box;
    z-index: 9;
    background: white
}

.container{
   margin: .5rem .3rem
}
.result-top{
   display: flex
}
.result-top>div{
   color: #5A5EE4;
   font-size: .38rem;
   margin-left: .3rem
}
.rightPre{
    color: grey;
    font-size: .28rem;
    margin:.3rem 0
}

/* 进度条 */
.progress{
    border-radius: .20rem !important;
    background: #EDEDED;
    width:6.2rem
}
.on{
     width:25%;
     background:#4D6FCC;
     height:0.40px 
}
.progress .progress-bar {
    position: relative;
    border-radius: .20rem;
    animation: animate-positive 1s;
  }
  
  @keyframes animate-positive {
    0% {
      width: 0%;
    }
  }
.allTime{
    padding:.3rem .6rem;
    margin: .5rem 0 0;
    background: #F5F5F5;
    display: flex;
    justify-items: center;
    color: grey;
    justify-content: space-around;
}
.conmmon{
padding:.4rem 0;

}
.conmmon:not(:last-child){
    
    border-bottom: 0.02rem solid #F5F5F5;
}
.greapp-img{
    width:.95rem;
    height: .95rem;
    margin-right: .3rem
}
.download{
    color: white;
    background: #6064E6;
    width: 1.9rem;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    box-sizing: border-box;
    border-radius: .1rem;
    font-size: .3rem
}
.GREAPP{
  font-weight: bold
}
.freeget{
    color: grey;
    font-size: .25rem;
}