ul {
    margin-bottom: 0;
}

li {
    list-style: none;
    display: block;
}

.search-wrap {
    height: 30px;
}

input {
    font-size: 14px;
}

.section1 {
    padding: 40px 0 35px;
    background: url("/cn/images/tool/bg-1.png");
    color: #fff;
}

.y_font {
    color: #f8f315;
}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 47px;
}

.des {
    font-size: 24px;
}

.section1 .des {
    width: 580px;
    height: 185px;
    background: url("/cn/images/tool/rectangular.png");
    margin: 20px auto 35px;
    padding: 20px 0;
    font-size: 16px;
}

.section2 {
    background: url("/cn/images/tool/bg-2.png");
    padding: 60px;
    height: 780px;
}

.section2 ul {
    padding: 100px 0;
}

.section2 ul.left {
    padding-left: 120px;
}

.section2 ul.right {
    padding-right: 120px;
}

.section2 ul li {
    margin-bottom: 100px;
}

.section2 ul li div {
    width: calc(100% - 89px);
}

.blue_f {
    color: #089fe8;
}

.section3 {
    height: 690px;
    padding: 105px 0 0;
    background: url("/cn/images/tool/bg-3.png");
}

.section3 .des {
    margin-bottom: 97px;
}

.section4 {
    height: 750px;
    padding: 113px 0 0;
    background: url("/cn/images/tool/bg-4.png");
}

.section4 .des {
    margin-bottom: 66px;
}

