body {
    min-width: 1200px;
}

.w12 {
    width: 1200px;
    margin: auto;
}

.bg_f {
    background: #ffffff;
}

#userCenter {
    background: #f3f3f3;
    padding: 10px 0 100px;
}
@font-face {
    font-family: 'iconfont';  /* project id 686552 */
    src: url('//at.alicdn.com/t/font_686552_6ka4zzck5c48to6r.eot');
    src: url('//at.alicdn.com/t/font_686552_6ka4zzck5c48to6r.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_686552_6ka4zzck5c48to6r.woff') format('woff'),
    url('//at.alicdn.com/t/font_686552_6ka4zzck5c48to6r.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_686552_6ka4zzck5c48to6r.svg#iconfont') format('svg');
}

/*********************头部***************/
.centerTop {
    padding: 20px 45px;
    margin-bottom: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.centerTop .userImg_1 {
    width: 85px;
    height: 85px;
    padding: 3px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #c3c4f8;
    margin-right: 35px;
}
.userImg_1 img{
    /*width: 100%;*/
    height: 100%;
    border-radius: 50%;
}

.centerTop .username {
    color: #444444;
    font-size: 20px;
    max-width: 110px;
}

.centerTop .userLevel {
    color: #2f318b;
    font-size: 16px;
    padding: 5px 0 7px;
}

.centerTop .link_set {
    display: block;
    width: 75px;
    line-height: 24px;
    background: #8890e7;
    font-size: 12px;
    margin: auto;
    color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 24px;
    text-align: center;
}

.centerTop .link_set:hover {
    background: #6f72e7;
}

.centerTop .userLevel span {
    vertical-align: middle;
    padding-left: 5px;
}

.centerTop .icon-level {
    font-size: 20px;
    vertical-align: middle;
}

.centerTop .userInfo_wrap {
    margin-right: 50px;
}

.centerTop .testItme_wrap .test_item {
    padding: 10px 0;
    width: 175px;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

.testItme_wrap .test_item:last-child {
    margin-right: 0;
}

.testItme_wrap .icon {
    font-size: 42px;
    color: #f6eae4;
    padding-left: 30px;
}

.testItme_wrap .tem_text {
    color: #fefefe;
    text-align: center;
}

.testItme_wrap .item_tit {
    font-size: 14px;
    margin-bottom: 4px;
}

.testItme_wrap .item_data {
    font-size: 24px;
    font-weight: bold;
}

.testItme_wrap .test_item:nth-child(1) {
    background: #d09476;
}

.testItme_wrap .test_item:nth-child(2) {
    background: #58b7af;
}

.testItme_wrap .test_item:nth-child(3) {
    background: #5a99ce;
}

.testItme_wrap .test_item:nth-child(4) {
    background: #63c58f;
}

/**************左边****************/
.centerLeft {
    width: 220px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.centerLeft_nav li {
    padding: 20px 0 20px 30px;
    border-bottom: 1px dashed #cccccc;
}

.centerLeft_nav li:last-child {
    border-bottom: none;
}

.centerLeft_nav li:hover .icon_tit {
    color: #6f72e7;
}

.centerLeft_nav li.on .icon_tit {
    color: #6f72e7;
}

.centerLeft_nav .icon_tit {
    font-size: 24px;
    color: #777777;
}

.centerLeft_nav li:hover .link_name {
    color: #6f72e7;
}

.centerLeft_nav li.on .link_name {
    color: #6f72e7;
}

.centerLeft_nav .link_name {
    color: #444444;
    font-size: 16px;
    line-height: 26px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    width: 90px;
    padding-right: 20px;
}

.centerLeft_nav li:hover .icon_angle {
    opacity: 1;
    color: #6f72e7;
}

.centerLeft_nav li.on .icon_angle {
    opacity: 1;
    color: #6f72e7;
}

.centerLeft_nav .icon_angle {
    color: #777777;
    font-size: 14px;
    vertical-align: middle;
    opacity: 0;
}

.centerLeft_nav .icon_tit_wrap {
    width: 24px;
    height: 26px;
    overflow: hidden;
    line-height: 26px;
    text-align: center;
}

/**************右边****************/
.centerRight {
    width: 960px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

/*分页*/
.pageSize li {
    height: 25px;
    padding: 0 9px;
    color: #6b6b6b;
    font-size: 13px;
    cursor: pointer;
    line-height: 25px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background: #f3f3f3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #d0d0d0;
}

.pageSize ul li:hover {
    border-color: #8789f6;
    background: #8789f6;
    color: #ffffff;
}

.pageSize ul li.on {
    border-color: #8789f6;
    background: #8789f6;
    color: #ffffff;
}

.pageSize ul li:last-child {
    margin-right: 0;
}

/***************邀请***************/
.centerRight .invit_wrap {
    height: 480px;
    overflow: auto;
    background: url("../../images/gre_userCenter/invit_bg.png") no-repeat 0 0;
    background-size: 100% 100%;
}

.centerRight .invit_content {
    width: 460px;
    background: #ffffff;
    padding: 25px 25px 25px 40px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 30px auto 0;
}

.centerRight .invit_ctit {
    font-size: 22px;
    font-weight: bold;
    color: #555555;
    margin-bottom: 10px;
}

.centerRight .invit_ctext {
    color: #777777;
    font-size: 16px;
    padding-bottom: 25px;
    word-break: break-all;
}

/******************雷豆管理*******************/
.ldManger_top {
    padding: 18px 0;
    background: url("../../images/gre_userCenter/ld_bg.png") no-repeat 0 0;
}

.ld_str_wrap {
    color: #ffffff;
    padding: 0 80px 5px;
    margin-right: 65px;
    border-right: 2px solid #ffffff;
}

.ldManger_top .ld_count {
    font-size: 36px;
}

.ldManger_top .ld_str {
    font-size: 14px;
}

.ld_handle .recharge_btn {
    color: #ffffff;
    font-size: 14px;
    padding: 7px 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #5e70e5;
    margin-right: 75px;
}

.ld_handle .how_use {
    color: #4d50d6;
    font-size: 14px;
    padding: 7px 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff;
}

.ld_handle .recharge_btn:hover {
    background: #4856af;
}

.ld_handle .how_use:hover {
    text-decoration: underline;
}

.ldManger_tab_wrap {
    padding: 25px 60px 45px;
}

.ldManger_tab_check {
    padding-bottom: 15px;
}

.ldManger_tab_check a {
    font-size: 18px;
    color: #777777;
    display: inline-block;
    vertical-align: middle;
    margin-right: 80px;
    cursor: pointer;
    margin-bottom: -1px;
    padding: 0 5px 7px;
    border-bottom: 2px solid transparent;
}

.ldManger_tab_check a:last-child {
    margin-right: 0;
}

.ldManger_tab_check a.on, .ldManger_tab_check a:hover {
    color: #4d50d6;
    border-color: #4d50d6;
}

.ldTable {
    table-layout: fixed;
    border-collapse: collapse;
}

.ldManger_wrap .ldTable thead {
    background: #ebe9e9;
}

.ldTable thead th {
    color: #333333;
    font-size: 16px;
    padding: 10px 0;
    font-weight: normal;
}

.ldTable thead tr th:nth-child(1) {
    padding-left: 40px;
}

/*.ldTable thead tr th:nth-child(3) {*/
/*padding-right: 40px;*/
/*}*/
.ldTable tbody tr td:nth-child(1) {
    padding-left: 40px;
}

/*.ldTable tbody tr td:nth-child(3) {*/
/*padding-right: 40px;*/
/*}*/
.ldTable tbody tr:first-child td {
    padding-top: 20px;
}

.ldTable tbody tr:last-child td {
    padding-bottom: 20px;
}

.ldTable tbody tr:hover {
    background: #f3f1f1;
}

.ldTable tbody td {
    color: #555555;
    font-size: 14px;
    padding: 10px 0;
    word-break: break-all;
}

/*****************已购课程***************/
.orderStatu_Wrap {
    padding: 30px 40px;
}

.orderStatu_Wrap .ldManger_tab_check {
    padding-bottom: 0;
    border-bottom: 1px solid #dad8d8;
}

.orderStatu_Wrap .orderItem_list {
    padding-top: 18px;
}

.orderStatu_Wrap .orderItem_list:hover .orderStatu_courseImg img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.orderStatu_Wrap .orderStatu_data {
    color: #666666;
    font-size: 12px;
    background: #ece8e8;
    padding: 12px;
}

.orderStatu_Wrap .orderStatu_data span {
    padding-right: 40px;
}

.orderItem_wrap .orderStatu_courseImg {
    width: 130px;
    height: 80px;
    margin-right: 23px;
    overflow: hidden;
}

.orderStatu_courseImg img {
    /*width: 100%;*/
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.orderItem_list .orderInfo_titwrap {
    padding-bottom: 6px;
}

.orderItem_list .order_courseName {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    max-width: 500px;
}

.orderItem_list .order_num {
    color: #4e4d4d;
    font-size: 14px;
    padding-left: 7px;
}

.orderItem_list .orderInfo_item {
    padding-right: 8px;
    color: #555555;
}

.orderItem_list .orderInfo_item dt {
    font-size: 14px;
    padding: 5px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.order_info .orderInfo_item:nth-child(1) {
    width: 210px;
}

.order_info .orderInfo_item:nth-child(2) {
    width: 230px;
}

.order_info .orderInfo_item:nth-child(3) {
    width: 135px;
}

.orderInfo_handle .orderHandle_btn {
    font-size: 12px;
    color: #ffffff;
    width: 74px;
    background: #6f72e7;
    text-align: center;
    padding: 4px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: block;
    margin: 0 auto 5px;
}

.orderInfo_handle .orderHandle_btn:hover {
    background: #5255ab;
}

.orderInfo_handle .orderHandle_btn:last-child {
    margin-bottom: 0;
}

.orderInfo_de {
    padding: 15px 13px;
    border-bottom: 1px solid #eae7e7;
}

.str_pink {
    color: #ee435f;
}

.str_green {
    color: #1e7e49;
}
/*******************收藏*******************/
.collection_wrap{
    padding: 0 45px;
}
.collection_wrap .tagRow{
    margin-bottom: 10px;
}
.tagRow .tagTit{
    color: #555555;
    font-size: 16px;
    font-weight: bold;
    float: left;
    width: 95px;
}
.tagRow .tagList{
    word-break: break-all;
    font-size: 14px;
    color: #8b8b8b;
    float: left;
    max-width: 775px;
}
.tagRow .tagList a{
    display: inline-block;
    vertical-align: middle;
    height: 22px;
    line-height: 22px;
    padding: 0 14px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 25px 10px 0;
}
.tagRow .tagList a:hover{
    color: #ffffff;
    background: #6f72e7;
}
.tagRow .tagList a.on{
    color: #ffffff;
    background: #6f72e7;
}
.tagRow_content{
    padding: 20px 0 5px;
    border-bottom: 1px dashed #a9a9a9;
}
.problem_list dt {
    border-bottom: 1px solid #cccccc;
    padding: 14px 0;
}
.problem_list dt:last-child{
    border-bottom: none;
}
.problem_name {
    height: 18px;
    line-height: 18px;
    color: #2f318b;
    font-size: 16px;
    max-width: 500px;
    font-weight: normal;
}
.problem_name:hover{
    text-decoration: underline;
}
.problem_de {
    padding-top: 10px;
    color: #333333;
    font-size: 14px;
    max-height: 48px;
}
.problem_data .pd_row:nth-child(1) {
    border-color: #777777;
    margin-right: 7px;
    padding-right: 7px;
}

.pd_row {
    height: 18px;
    float: left;
    text-align: center;
    line-height: 18px;
    border-right: 1px solid transparent;
}
.pd_row span {
    vertical-align: middle;
    color: #777777;
    font-size: 14px;
    padding-left: 2px;
    display: inline-block;
}
.cancel_btn{
    color: #4d50d6;
    font-size: 14px;
    display: block;
    padding: 5px 0;
}
.cancel_btn:hover{
    color: #ff4655;
}
.cancel_btn.cancel_sc{
    color: #ff4655;
}
.cancel_btn.add_sc{
    color: #15713e;
}
.collection_text{
    width: 770px;
}
/*********************生词本******************/
.strange_list dt{
    padding: 15px 0;
    border-bottom: 1px solid #cccccc;
}
.strange_list dt:last-child{
    border-bottom: none;
}

.strange_word{
    color: #444444;
    font-size: 16px;
    font-weight: bold;
    width: 200px;
}
.strange_mean{
    color: #444444;
    font-size: 14px;
    width: 590px;
}
.strange_remove{
    color: #4d50d6;
    font-size: 14px;
}
.strange_remove:hover{
    color: #ff4655;
}
/***********************错题&错题记录**************************/
.testOver_data{
    padding-top: 10px;
    color: #777777;
    font-size: 14px;
}
.testOver_data span{
    padding-right: 20px;
}
.testOver_data .str_pink.answer_right{
    color: #1e7e49;
}
.errorTest_btn{
    background: #6f72e7;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.errorTest_btn:hover{
    background: #5859b5;
}
.errorTest_hint{
    color: #777777;
    font-size: 14px;
}
.errorTest_wrap{
    padding-bottom: 15px;
}
/*************************个人设置***************************/
.setItem {
    padding: 25px 0;
    border-bottom: 1px #e5e5e5 solid;
}

.setTit {
    padding-right: 10px;
    width: 140px;
    font-size: 20px;
    color: #6a6a6a;
    font-weight: bold;
}

.rightBtn {
    cursor: pointer;
    color: #9a592d;
}
.rightBtn:hover,.rightBtn.on{
    color: #db3b41;
}

.edtInfo_wrap {
    display: none;
    padding: 40px 0 0;
}

.edtInfo_wrap .edtRow {
    padding-bottom: 25px;
}
.edtInfo_wrap .edtRow:last-child {
    padding-bottom: 10px;
}

.edtRow .edtName {
    color: #a47758;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    padding-right: 10px;
    width: 140px;

}

.edtRow .edtInt {
    width: 270px;
    height: 30px;
    font-size: 14px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px #d9d9d9 solid;
    border-radius: 5px;
}

.edtRow .ediHint {
    font-size: 12px;
    color: #8b0000;
    padding: 10px;
    visibility: hidden;
}

.sendCode {
    cursor: pointer;
    font-size: 14px;
    padding: 0 10px;
    background: #db3b41;
    height: 30px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
.saveData{
    cursor: pointer;
    font-size: 14px;
    padding: 0 20px;
    background: #db3b41;
    height: 28px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
.saveData:hover{
    background: #ad2f33;
}
.edtInt.code{
    width: 175px;
}
/*下面的按钮样式*/
.showVideo{
    width: 100%;
    padding:20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*border-top: 1px #dcdcdc solid;*/
    /*text-align: left;*/
    margin-top: 20px;
    border: 1px #eeeeee solid;
}
.showVideo a{
    width:240px;
    display: block;
    float: left;
    margin-bottom: 15px;
    margin-left: 22px;
    position: relative;
}
/*.showVideo a:nth-child(3n){*/
    /*margin-right: 0;*/
/*}*/
.showVideo a button{
    width: 100%;
    background: transparent;
    border: none;
    color: #6f72e7;
    /*color: #333333;*/
    padding: 10px 0;
    box-shadow: 0 0 10px #dfdfdf;
    text-align: center;
}
.showVideo span.sort{
    background-color: #6f72e7;
    color: white;
    padding: 0 5px;
    font-size: 12px;
    float: left;
    margin-top: 10px;
    /*position: absolute;*/
    /*top: 11px;*/
    /*left: 5px;*/
}
.showVideo a button:hover{
    cursor: pointer;
}
.showVideo a img{
    position: absolute;
    top: 10px;
    right: 10px;
}
.showVideo:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
#fixedTc {
    display: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 50%;
    top: 60%;
    border-radius: 8px;
    padding: 15px 35px;
    z-index: 999;
    color: #fff;
    font-size: 16px;
    margin-left: -35px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #cdcdcd;
}
.xian_cour{
    width: 100%;
    margin: 10px 0;
    border-bottom: 1px #EEEEEE solid;
}